button {
  display: flex;
  flex-direction: row;
  font-family: var(--font1);
  justify-content: center;
  align-items: center;
  position: relative;
  height: 70px;
  margin: 5px 0;
  background: var(--color2);
  border: none;
  font-size: 20px;
  font-weight: bold;
  box-shadow: var(--shadow-large);
  cursor: pointer;
  width: 100%;
  transition: all 0.2s ease;
  img {
    width: 10%;
  }
  &:hover {
    box-shadow: none;
  }
}

.flow-loader {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
