#signup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  -webkit-overflow-scrolling: touch;
  background: rgba(0, 0, 0, 0.9);
  .signup-wrapper {
    overflow-y: scroll;
    // -ms-overflow-style: none; /* IE and Edge */
    // scrollbar-width: none; /* Firefox */
    // &::-webkit-scrollbar {
    //   display: none;
    // }
    border: 5px solid var(--color2);
    border-radius: 20px;
    position: relative;
    .error-message {
      font-family: var(--font1);
      border-radius: 20px;
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      border: 3px solid var(--color2);
      background: black;
      bottom: 0;
      color: red;
      text-align: center;
      font-weight: bold;
      padding: 1rem;
    }
    h1 {
      font-family: var(--font1);
      color: black;
      text-align: center;
      background-color: var(--color1);
      padding: 10px 5px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;

      .h1-title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        @media (max-width: 600px) {
          font-size: 1.3rem;

          flex-direction: column;
        }
      }

      img {
        width: 50px;
        top: -20%;
        right: 0%;
        position: absolute;
      }
    }

    .signup-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media screen and (orientation: portrait) and (max-device-width: 285px) {
        text-align: center;
      }

      .signup-contents {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: var(--shadow-large);
        padding: 60px 40px;
        background-color: black;
        font-family: var(--font2);
        position: relative;
        @media screen and (orientation: portrait) and (max-device-width: 370px) {
          padding: 1rem 2rem;
        }

        @media screen and (orientation: portrait) and (max-device-width: 350px) {
          padding: 1rem;
          font-size: 0.8rem;
          h1 {
            font-size: 0.8rem;
          }
        }
        .already-account {
          font-family: var(--font2);
          font-weight: normal;
          text-align: center;
          @media screen and (max-width: 370px) {
            font-size: 0.9rem;
          }
          @media screen and (max-width: 300px) {
            font-size: 0.7rem;
          }
        }

        .logo {
          width: 40%;
          padding: 0.5rem;
        }
        .close-btn-signup {
          display: flex;
          justify-content: flex-end;
          position: absolute;
          align-items: center;
          padding: 0.8rem;
          width: 100%;
          font-weight: bold;
          font-size: 1.5rem;
          cursor: pointer;
          top: 0;
        }

        .login-redirect {
          color: var(--color2);
          cursor: pointer;
        }

        h2 {
          color: white;
          font-size: 40px;
          margin-bottom: 10px;
          font-family: var(--font1);
          font-weight: normal;
          @media screen and (max-width: 350px) {
            font-size: 1.5rem;
          }
        }

        span {
          font-weight: bold;

          a {
            font-weight: bold;
            text-decoration: none;
            color: var(--color2);
            &:visited {
              color: var(--color2);
            }
          }
        }

        form {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          .input-error-signup {
            transition: 0.2s ease;
            border: 3px solid red;
          }

          input {
            margin: 5px 0;
            background: var(--color-light);
            font-size: 1rem;
            font-family: var(--font2);
            font-weight: normal;
            line-height: inherit;
            width: 100%;
            height: auto;
            padding: 0.75rem 1.25rem;
            border: 3px solid var(--color1);
            outline: none;
            color: var(--color-black);
            background: black;
            text-transform: unset;
            text-rendering: optimizeLegibility;
            @media screen and (max-width: 300px) {
              font-size: 0.7rem;
            }
            &::placeholder {
              color: white;
            }
          }

          button {
            display: flex;
            flex-direction: row;
            font-family: var(--font1);
            justify-content: center;
            align-items: center;
            position: relative;
            height: 70px;
            margin: 5px 0;
            background: var(--color2);
            border: none;
            font-size: 20px;
            font-weight: bold;
            box-shadow: var(--shadow-large);
            cursor: pointer;
            width: 100%;
            transition: all 0.2s ease;
            img {
              // position: absolute;
              width: 10%;
              // right: 5%;
            }
            &:hover {
              box-shadow: none;
            }
          }
        }
      }
    }

    .flow {
      display: flex;
      flex-direction: row;
      font-family: var(--font1);
      justify-content: center;
      align-items: center;
      position: relative;
      height: 70px;
      margin: 5px 0;
      background-color: black;
      color: white;
      font-size: 20px;
      font-weight: normal;
      box-shadow: var(--shadow-large);
      cursor: pointer;
      width: 100%;
      transition: all 0.2s ease;
      border: 3px solid var(--color1);
      @media screen and (max-width: 300px) {
        font-size: 1rem;
      }
      img {
        width: 8%;
        right: 50px;
        position: absolute;
        @media screen and (max-width: 450px) {
          display: none;
        }
      }
      &:hover {
        color: black;
        background-color: var(--color1);
      }
    }
    .help-button {
      cursor: pointer;
      position: absolute;
      top: 0;
      padding: 5px;
      @media screen and (max-width: 350px) {
        width: 50px;
      }
      &:hover {
        &::after {
          content: "Back to Sign Up details";
          color: white;
          position: absolute;
          top: 20px;
          left: 70px;
          text-align: center;
          width: 150px;
          font-family: var(--font1);
          font-size: 0.8rem;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          background: black;
          border: 3px solid var(--color2);
          border-radius: 20px;
          padding: 0.5rem;
        }
      }
    }
  }
}
