#signup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999999;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  background: rgba(0, 0, 0, 0.9);
  cursor: url("data:image/svg+xml,%3Csvg width='19' height='19' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.514.535l-6.42 6.42L2.677.536a1.517 1.517 0 00-2.14 0 1.517 1.517 0 000 2.14l6.42 6.419-6.42 6.419a1.517 1.517 0 000 2.14 1.517 1.517 0 002.14 0l6.419-6.42 6.419 6.42a1.517 1.517 0 002.14 0 1.517 1.517 0 000-2.14l-6.42-6.42 6.42-6.418a1.517 1.517 0 000-2.14 1.516 1.516 0 00-2.14 0z' fill='%23FFF' fill-rule='nonzero'/%3E%3C/svg%3E"),
    auto;
  // justify-content: center;
  // width: 100%;
  // height: 100vh;
  // z-index: 9999999;
  // background: rgba(0, 0, 0, 0.774);

  // @media screen and (orientation: landscape) and (max-device-width: 850px) {
  //   top: -500%;
  //   height: 5000px;
  //   position: absolute;
  //   z-index: 99999999;
  // }
  // @media screen and (orientation: landscape) and (max-device-width: 830px) and (max-device-height: 420px) {
  //   height: 7100px;
  //   top: -780%;
  //   position: absolute;
  //   z-index: 99999999;
  // }
  // @media screen and (orientation: landscape) and (max-device-width: 812px) and (max-device-height: 375px) {
  //   height: 7100px;
  //   top: -780%;
  //   position: absolute;
  //   z-index: 99999999;
  // }

  // @media screen and (orientation: landscape) and (max-device-width: 750px) and (max-device-height: 550px) {
  //   height: 6800px;
  //   top: -550%;
  //   position: absolute;
  //   z-index: 99999999;
  // }
  // @media screen and (orientation: landscape) and (max-device-width: 740px) and (max-device-height: 420px) {
  //   height: 7000px;
  //   top: -760%;
  //   position: absolute;
  //   z-index: 99999999;
  // }
  // @media screen and (orientation: landscape) and (max-device-width: 735px) and (max-device-height: 450px) {
  //   height: 7000px;
  //   top: -770%;
  //   position: absolute;
  //   z-index: 99999999;
  // }
  // @media screen and (orientation: landscape) and (max-device-width: 670px) and (max-device-height: 400px) {
  //   height: 7000px;
  //   top: -830%;
  //   position: absolute;
  //   z-index: 99999999;
  // }
  // @media screen and (orientation: landscape) and (max-device-width: 660px) {
  //   height: 5000px;
  //   top: -600%;
  //   position: absolute;
  //   z-index: 99999999;
  // }
  // @media screen and (orientation: landscape) and (max-device-width: 600px) and (max-device-height: 350px) {
  //   height: 5800px;
  //   top: -780%;
  //   position: absolute;
  //   z-index: 99999999;
  // }
  // @media screen and (orientation: landscape) and (max-device-width: 653px) and (max-device-height: 285px) {
  //   height: 6500px;
  //   top: -1050%;
  //   position: absolute;
  //   z-index: 99999999;
  // }
  // @media screen and (orientation: landscape) and (max-device-width: 570px) and (max-device-height: 325px) {
  //   height: 6500px;
  //   top: -910%;
  //   position: absolute;
  //   z-index: 99999999;
  // }

  h1 {
    font-family: var(--font1);
    color: black;
    text-align: center;
    background-color: var(--color1);
    padding: 10px 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;

    .h1-title {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      @media (max-width: 600px) {
        font-size: 1.3rem;

        flex-direction: column;
      }
    }

    img {
      width: 50px;
      top: -20%;
      right: 0%;
      position: absolute;
    }
  }
  .signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 20px 100px 20px;
    @media screen and (orientation: portrait) and (max-device-width: 285px) {
      text-align: center;
    }

    .signup-contents {
      width: 400px;
      color: black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: var(--shadow-large);
      padding: 60px 40px;
      background-color: white;
      font-family: var(--font2);
      position: relative;
      .logo {
        width: 40%;
        padding: 0.5rem;
      }
      .close-btn-signup {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        align-items: center;
        padding: 0.8rem;
        width: 100%;
        font-weight: bold;
        font-size: 1.5rem;
        cursor: pointer;
        top: 0;
      }

      .login-redirect {
        color: var(--color2);
        cursor: pointer;
      }

      h2 {
        color: black;
        font-size: 40px;
        margin-bottom: 10px;
      }

      span {
        font-weight: bold;

        a {
          font-weight: bold;
          text-decoration: none;
          color: var(--color2);
          &:visited {
            color: var(--color2);
          }
        }
      }

      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        input {
          margin: 5px 0;
          background: var(--color-light);
          font-family: var(--font2);
          font-size: 1rem;
          font-weight: 400;
          line-height: inherit;
          width: 100%;
          height: auto;
          padding: 0.75rem 1.25rem;
          border: none;
          outline: none;
          border-radius: 2rem;
          color: var(--color-black);
          background: var(--color-light);
          text-transform: unset;
          text-rendering: optimizeLegibility;
        }
        button {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center;
          width: 100%;
          height: 50px;
          margin: 5px 0;
          background: var(--color2);
          border: none;
          color: black;
          font-weight: bold;
          font-size: 20px;
          border-radius: 10px;
          cursor: pointer;
          font-family: var(--font2);
          box-shadow: var(--shadow-large);
        }
      }

      .error-message {
        color: red;
        font-weight: bold;
        text-align: center;
        padding: 5px;
      }
    }
  }
}
