@use "../../../utils/Sass/mixins/mixins";

.music-showcase-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    position: relative;

    .music-showcase-list-grid {
        width: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-template-rows: auto;
        place-content: center;
        grid-gap: 1rem;
        justify-items: center;

        &::-webkit-scrollbar {
            height: 4px;
        }

        @supports not (display: grid) {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            flex-wrap: wrap;
        }

        @include mixins.carousel-media-query()
    }

    .single-release-in-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 100%;

        @include mixins.carousel-media-query {
            flex-wrap: nowrap;

            &::-webkit-scrollbar {
                height: 4px;
            }
        }
    }



}