#fan-port-nav {
  font-family: var(--font2);
  background-color: black;
  padding: 10px 5px;
  border-bottom: 5px solid var(--color1);

  @media (min-width: 768px) {
    padding: 10px;
    height: 100%;
    border-bottom: none;
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;

    @media (min-width: 768px) {
      flex-direction: column;
      width: 100%;
      font-size: 30px;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    a {
      color: white;
      text-decoration: none;
      padding: 0 5px;
    }
  }
}

.fp-scrolled {
  position: sticky;
  top: 11%;
  left: 0;
  width: 100%;
  z-index: 9999;
}
