#fan-port-nav {
  font-family: var(--font2);
  background-color: black;
  padding: 10px 5px;
  border-bottom: 5px solid var(--color1);
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    a {
      color: white;
      text-decoration: none;
      padding: 0 5px;
    }
  }
}

.fp-scrolled {
  position: sticky;
  top: 11%;
  left: 0;
  width: 100%;
  z-index: 9999;
}
