#about {
  position: relative;
  background: black;
  color: white;
  font-family: var(--font2);
  strong {
    color: var(--color1);
    font-weight: normal;
    font-family: var(--font1);
  }
  .about-title {
    width: 100%;
    padding-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      font-family: var(--font1);
      color: white;
      background-color: transparent;
      padding: 1rem;
      border: 3px solid var(--color1);
      // border-top: none;
      border-left: none;
      border-right: none;
      width: 100%;
      text-align: center;
      font-size: 3rem;
      position: relative;
      @media screen and (max-width: 350px) {
        font-size: 2rem;
      }

      .spotlight-left {
        width: 50px;
        position: absolute;
        left: 0;
        top: 0;
      }
      .spotlight-right {
        width: 50px;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }

  .about-contents-wrapper {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    background: black;
    .about-header {
      width: 85%;
      font-family: var(--font1);
      padding: 1rem 0;
      font-size: 1.3rem;
      text-align: center;
      margin-top: 2rem;
      margin-bottom: 4rem;
      border: 7px solid var(--color2);
      border-radius: 20px;
      @media screen and (max-width: 1000px) {
        font-size: 1rem;
      }
      h1 {
        background-color: transparent;
        color: white;
        width: 100%;
        font-weight: normal;
        padding: 0.6rem;
        @media screen and (max-width: 400px) {
          font-size: 1.5rem;
          padding: 0.4rem;
        }
        span {
          color: var(--color1);
        }
      }
    }
  }

  .about-contents-1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
    @media screen and (max-width: 1000px) {
      flex-direction: column;
    }
    .contents-img-wrapper {
      position: relative;
      .disc_image {
        display: none;
        position: absolute;
        top: 50px;
        z-index: 0;
      }
      .contents-img {
        padding: 1rem;
        width: 500px;
        img {
          border: 8px solid var(--color1);
        }

        position: relative;
        z-index: 5;
      }
    }

    .contents-1-text {
      border: 7px solid var(--color2);
      border-radius: 20px;
      width: 50%;
      font-size: 1.4rem;
      padding: 1rem;
      text-align: left;
      @media screen and (max-width: 1000px) {
        width: 100%;
      }
      @media screen and (max-width: 400px) {
        font-size: 1.2rem;
      }
      p {
        padding: 10px 0;
      }

      .principle-section {
        // border: 3px solid var(--color1);
        padding: 1rem;
        margin: 1rem 0;
        .two-principles {
          font-family: var(--font1);
          font-size: 2rem;
          text-align: center;
          @media screen and (max-width: 400px) {
            font-size: 1.5rem;
          }
        }
        .principle {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 100%;
          .principle-img {
            img {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 50px;
              margin-right: 10px;
            }
          }

          .principle-text {
            width: 85%;
          }
        }
      }
    }
  }
  .story-h1 {
    width: 100%;
    text-align: center;
    font-family: var(--font1);
    font-weight: normal;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0 3rem 0;
    padding: 1rem;
    border: 3px solid var(--color1);
    border-right: none;
    border-left: none;
  }
  .about-contents-2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 5rem;

    .contents-2-text {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border: 7px solid var(--color2);
      border-radius: 20px;
      width: 85%;
      font-size: 1.4rem;
      padding: 2rem;
      @media screen and (max-width: 1000px) {
        width: 100%;
      }
      @media screen and (max-width: 400px) {
        font-size: 1.2rem;
      }
      .contents-img-wrapper {
        position: relative;
        float: right;
        .disc_image {
          display: none;
          position: absolute;
          bottom: 100px;
          z-index: 0;
        }
        .contents-img {
          padding: 1rem;
          width: 500px;
          .bng-caption {
            font-size: 1rem;
            text-align: center;
          }
          img {
            border: 8px solid var(--color1);
          }
          position: relative;
          z-index: 5;
        }
      }
      p {
        padding: 10px 0;
        text-align: left;
      }
    }
  }
}
