#about {
  background-color: black;
  color: white;
  h1 {
    font-family: var(--font1);
    color: black;
    text-align: center;
    background-color: var(--color1);
    padding: 10px 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    // text-decoration: underline 7px solid var(--color2);

    img {
      width: 50px;
      top: -20%;
      right: 0%;
      position: absolute;
    }
  }
  .about-contents-wrapper {
    padding: 10px;
  }
  .about-contents-1,
  .about-contents-2 {
    border: 7px solid var(--color2);
    border-radius: 20px;
    padding: 10px;
    p {
      padding: 5px 0;
      font-family: var(--font2);
    }
    .ol-section {
      padding: 5px 20px 5px 30px;
      font-family: var(--font2);

      li {
        padding-bottom: 10px;
      }
    }
  }
}
