.navbar {
}
.animate-navbar {
  opacity: none;
  box-shadow: none;
  animation: moveDown 0.5s ease-in-out;
}

.nav-theme {
  background-color: transparent;
  font-size: 18px;
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  height: 60px;
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}
