#reminder {
  border-top: 5px solid var(--color1);
  padding: 20px 0 20px 0;
  position: relative;
  font-family: var(--font1);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--color1);

  img {
    width: 50px;
    top: -5%;
    right: 0%;
    position: absolute;
  }
  .light-left {
    width: 50px;
    top: -5%;
    left: 0%;
    position: absolute;
  }

  .artist-reminder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    p {
      color: black;
      padding: 0 50px;
      letter-spacing: 0.5px;
      line-height: 30px;
      span {
        border: 5px solid var(--color2);
        padding: 2px;
      }
      a {
        text-decoration: underline solid var(--color2) 5px;
        &:visited {
          color: inherit;
        }
      }
    }
  }
}
