#login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  background: var(--bg-dark);

  h1 {
    font-family: var(--font1);
    color: black;
    text-align: center;
    background-color: var(--color1);
    padding: 10px 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;

    img {
      width: 50px;
      top: -20%;
      right: 0%;
      position: absolute;
    }
  }

  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 20px 100px 20px;

    .login-contents {
      width: 400px;
      color: black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: var(--shadow-large);
      padding: 60px 40px;
      background-color: white;
      font-family: var(--font2);

      h2 {
        color: black;
        font-size: 40px;
        margin-bottom: 10px;
      }
      span {
        font-weight: bold;
        a {
          font-weight: bold;
          text-decoration: none;
          color: var(--color2);
          &:visited {
            color: var(--color2);
          }
        }
      }
      .login-btn-password {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        .forgot-password {
          width: 100%;
          a {
            text-decoration: none;
            font-weight: bold;
            color: var(--color2);
            &:visited {
              color: var(--color2);
            }
          }
        }

        .login-button {
          width: 100%;

          .button {
            height: 50px;
            margin: 5px 0;
            background: var(--color2);
            border: none;
            border-radius: 10px;
            font-size: 20px;
            font-weight: bold;
            box-shadow: var(--shadow-large);
            cursor: pointer;
          }
        }
      }
      button {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 50px;
        margin: 5px 0;
        font-family: var(--font2);
        border-radius: 2rem;
        border: 2px solid var(--color-grayish);
        background: transparent;
        color: black;
        font-weight: 500;
        font-size: 0.95rem;
        cursor: pointer;
        .fa-facebook-square {
          color: #2d88ff;
          font-size: 20px;
        }
        svg {
          color: red;
          font-size: 20px;
        }
      }

      p {
        padding: 5px 0;
      }

      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
      input {
        // width: 100%;
        // padding: 10px;
        margin: 5px 0;
        background: var(--color-light);
        font-family: var(--font2);
        font-size: 1rem;
        font-weight: 400;
        line-height: inherit;
        width: 100%;
        height: auto;
        padding: 0.75rem 1.25rem;
        border: none;
        outline: none;
        border-radius: 2rem;
        color: var(--color-black);
        background: var(--color-light);
        text-transform: unset;
        text-rendering: optimizeLegibility;
      }
      .or-fold {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        margin: 10px 0;
        p {
          margin: 0 10px;
        }
        hr {
          width: 100%;
          height: 1px;
        }
      }
      .login-messages {
        color: red;
        text-align: center;
        font-weight: bold;
        padding: 5px;
      }
    }
  }
}
