.vault-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(black, 0.7);
  z-index: 8001;
  .vault-modal-container {
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    background-color: black;
    border: 1px solid var(--color1);
    border-radius: 5px 5px 5px 5px;
    @media screen and (max-width: 400px){
      width: 100%;
      height: 100%;
    }
    .modal-header{
      position: relative;
      color: white;
      font-family: var(--header-font);
      font-size: var(--font2);
      span {
        font-size: 24px;
        position: fixed;
        right: 10px;
        top: 10px;
        cursor: pointer;
        @media screen and (max-width: 400px) {
          right: 20px;
        }
      }
    }
    .modal-body {
      display: flex;
      justify-content: space-around;
      margin: 50px;
      border: 1px solid var(--color2);
      border-radius: 20px;
      @media screen and (max-width: 992px) {
        flex-direction: column;     
      }
      @media screen and (max-width: 500px) {
        margin: 5px;
        flex-direction: column;
        border: none;
      }
      .modal-body-left-side {
        display: flex;
        margin: 40px 20px 0px 20px;
        flex-grow: 1;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        @media screen and (max-width: 400px) {
          margin: 5px 5px 5px 5px;
        }
        h1 {
          color: white;
          padding: 10px 0px;
          text-align: center;
          font-family: var(--header-font);
        }
        span {
          padding: 10px 0px;
          display: inline;
          color: white;
        }
        a {
          padding: 20px 0px;
          color: white;
          text-decoration: none;
          font-size: 4rem;
          color: #1DB954;
          transition: .75s ease;
          &:hover {
            color: rgba(#1DB954, .8);
            cursor: pointer;
          }
        }
      }
      .modal-body-right-side {
        margin: 40px;
        padding-bottom: 50px;
        width: 50%;
        flex-grow: 1;
        @media screen and (max-width: 992px) {
          width: 90%;
          flex-direction: column;
          align-items: center;
          justify-content: start;
        }
        @media screen and (max-width: 500px){
          margin: 0px 20px;
        }
        p {
          padding: 20px 0px;
          color: white;
          font-family: var(--header-font);
          line-height: 1.5rem;
          // @media screen and (max-width: 992px) {
          //   text-align: center;
          // }
        }

      }
    }

  }
}

.vault-modal-wrapper-hidden {
  display: none;
}