#nft-breakdown {
  font-family: var(--font2);
  background-color: black;
  color: white;
  border-bottom: 2px solid var(--color1);
  height: auto;
  padding: 0 1rem;
  position: relative;
  .spotlight-top-left {
    width: 50px;
    position: absolute;
    left: 0;
    top: 0;
  }
  .spotlight-top-right {
    width: 50px;
    position: absolute;
    right: 0;
    top: 0;
  }
  h1 {
    font-family: var(--font1);
    font-size: 3rem;
    padding-top: 5rem;
    width: 100%;
    text-align: center;
    @media screen and (max-width: 400px) {
      font-size: 2rem;
    }
    @media screen and (max-width: 300px) {
      font-size: 1.5rem;
    }
  }
  .kyc-subtitle {
    text-align: center;
    letter-spacing: 0.01cm;

    font-family: var(--font1);
    font-weight: normal;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    padding: 1rem;
    @media screen and (max-width: 400px) {
      font-size: 0.8rem;
    }
    @media screen and (max-width: 300px) {
      font-size: 0.6rem;
    }
  }
  .nft-breakdown-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-family: var(--font1);
    margin: 2rem 0;
    .info-boxes {
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      width: 100%;
      height: 100px;
      letter-spacing: 0.01cm;
      font-family: var(--font2);
      font-weight: bold;
      font-size: 1.5rem;
      margin: 0.5rem 0;
      border: 5px solid var(--color2);
      border-radius: 0.5rem;
      padding: 10px;
      @media screen and (max-width: 1620px) {
        height: auto;
      }
      @media screen and (max-width: 500px) {
        justify-content: center;
      }

      img {
        width: 50px;
        margin-left: 0.5rem;
        margin-right: 1rem;
        @media screen and (max-width: 500px) {
          width: 30px;
        }
      }
      p {
        a {
          text-decoration: underline 3px var(--color2);
          color: var(--color1);
          font-family: var(--font1);
          font-weight: normal;

          &:visited {
            color: var(--color1);
          }
        }
        @media screen and (max-width: 520px) {
          font-size: 1rem;
        }
        @media screen and (max-width: 350px) {
          font-size: 0.8rem;
        }
        span {
          color: var(--color1);
          font-family: var(--font1);
          font-weight: normal;
        }
      }
    }

    ul {
      font-size: 2rem;
      li {
      }
    }
  }
}
