#form-loading {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 999999;
  .form-loading-wrapper {
    font-family: var(--header-font);
    text-align: center;
    font-size: 2rem;
    div {
      font-family: var(--header-font);
    }
  }
}
