#music-showcase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  font-family: var(--font2);
  background: var(--color-light);
  // background: url("../../assets/images/1_XpQiGH0DMQUijuDiHoPWcw.jpeg") repeat
  //   center center black;

  h1 {
    font-family: var(--font1);
    font-size: 2rem;
    margin-top: 1em;
    letter-spacing: 0.04cm;
    width: 100%;
    padding: 10px;
    text-align: center;
    position: relative;
    color: black;
  }

  .show-case-p {
    text-align: center;
    padding: 0 20px;
    font-weight: bolder;
  }

  p {
    width: 100%;
    text-align: left;
    font-size: 15px;
    padding: 20px 40px 10px 10px;
    position: relative;
    color: black;
  }

  .showcase-grid-desktop {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 5;
    padding: 1rem 1em 4em 1em;

    .albums {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      width: 300px;
      height: 300px;
      border: 2px solid yellow;
      background-color: black;

      &:hover {
        transition: 0.2s ease;
        transform: scale(1.2);
      }
    }

    @media (max-width: 500px) {
      display: none;
    }
  }

  .showcase-grid-mobile {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    @media (min-width: 500px) {
      display: none;
    }
    @media (max-width: 500px) {
      display: flex;
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .spot-light {
    position: absolute;
    width: 20%;
    top: 0;
    left: 80%;
  }
}
