#music-showcase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  font-family: var(--font2);
  background-size: cover;
  width: 100%;
  background-color: none;
  border-top: 2px solid var(--color2);
  border-bottom: 2px solid var(--color2);
  padding-bottom: 0;
  @media screen and (max-width: 600px) {
    padding-bottom: 4rem;
  }

  .spotlight-top-left {
    width: 50px;
    position: absolute;
    left: 0;
    top: 0;
  }
  .spotlight-top-right {
    width: 50px;
    position: absolute;
    right: 0;
    top: 0;
  }

  .music-showcase-container {
    width: 100%;
    height: 100%;

    .music-showcase-content-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 3rem 1rem 0 1rem;

      h1 {
        font-family: var(--font3);
        letter-spacing: 0.05cm;
        font-weight: normal;
        font-size: 3rem;
        width: 100%;
        padding: 30px 10px 0rem 10px;
        text-align: center;
        position: relative;
        color: white;

        @media screen and (max-width: 400px) {
          font-size: 2rem;
        }
        @media screen and (max-width: 300px) {
          font-size: 1.5rem;
        }
      }

      .music-showcase-sub-title {
        font-size: 1.2rem;
        letter-spacing: 0.01cm;
        font-weight: normal;
        text-align: center;
        padding: 1rem;
        margin-bottom: 2rem;
        position: relative;
        color: white;
        font-family: var(--secondary-font);

        @media screen and (max-width: 550px) {
          font-size: 1rem;
        }
        @media screen and (max-width: 400px) {
          font-size: 0.8rem;
        }
        @media screen and (max-width: 300px) {
          font-size: 0.6rem;
        }
      }
    }
    .music-showcase-content-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: left;
      width: 100%;
      height: auto;
      position: relative;
      .showcase-image {
        width: 50%;
        left: 0;
        position: absolute;
        @media screen and (max-width: 1050px) {
          width: 900px;
          height: 1000px;
        }
        @media screen and (max-width: 1050px) {
          display: none;
        }
      }
      .music-showcase-grid {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 1rem;
        box-shadow: var(--container-box-shadow);
        border: 2px solid var(--color2);
        border-radius: 20px;
        height: auto;
        background-color: var(--main-color-nav-containers-darker-grey);

        @media screen and (max-width: 1050px) {
          width: 100%;
          height: auto;
        }
        @media screen and (max-width: 350px) {
          border: none;
          padding: 0;
        }
      }
    }
  }
  .music-showcase-bottom-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    @media screen and (max-width: 600px) {
      display: none;
    }
    .music-showcase-bottom-image {
      padding-top: 4rem;
      width: 40%;
      margin: 0;
    }
  }
}
