#purchase-success {
  font-family: var(--header-font);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  .purchase-success-content {
    padding: 70px 2rem 2rem 2rem;
    font-size: 3rem;
    color: white;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 1rem;
    @media screen and (max-width: 900px) {
      font-size: 2rem;
    }
    @media screen and (max-width: 400px) {
      font-size: 1.5rem;
    }
    button {
      margin: 1rem;
      width: 200px;
    }
    a {
      text-decoration: none;
    }
    h1 {
      letter-spacing: 1px;
      font-size: 2rem;
      margin-bottom: 1rem;
      @media screen and (max-width: 900px) {
        font-size: 1.5rem;
      }
      @media screen and (max-width: 400px) {
        font-size: 1rem;
      }
    }
    svg {
      width: 100px;
      margin-top: 1rem;
    }
  }
}
