#release-preview-title-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .release-image-container {
    position: relative;

    @media screen and (max-width: 400px) {
      margin-top: 1rem;
    }
  }

  .release-preview-title-info-price {
    padding-top: 0.5rem;

    div {
      color: var(--color1);
      font-family: var(--header-font);
      font-size: 3rem;
    }
  }

  .release-button-conditional {
    display: flex;
    width: 200px;
  }

  .release-description-button {
    width: 200px;

    @media screen and (max-width: 500px) {
      margin-bottom: 1rem;
    }
  }
}