#expired-hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 3px solid var(--color1);
  border-radius: 20px;
  cursor: pointer;

  .nft-hover-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
      display: flex;
      flex-direction: column;
      font-family: var(--header-font);
      width: auto;
      margin: 0.5rem 0 0.5rem 0;
      cursor: pointer;
      background: none;
      border: none;
      color: white;

      @media screen and (max-width: 768px) {
        display: none;
      }

      &:hover {
        transition: 0.2s ease;
        transform: scale(1.1);
      }
      img {
        width: 100px;
      }
      .nft-hover-name {
        width: 100%;
        font-size: 1rem;
        border-radius: 0.5rem;
        border: 2px solid var(--color2);
        padding: 1rem;
        &:hover {
          color: black;
          background-color: var(--color2);
        }
      }
    }
  }
  .expired-hover-mobile-icons {
    position: absolute;
    top: 0;
    padding: 1rem;
    right: 0;
    display: none;
    svg {
      width: 40px;
      padding: 0 0.5rem;
    }
    @media screen and (max-width: 768px) {
      display: flex;
    }
  }
}
