#image-loader {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 0.5rem;
  position: absolute;
  z-index: 20;

  @media screen and (max-width: 400px) {
    width: 250px;
    height: 250px;
  }
  @media screen and (max-width: 305px) {
    width: 200px;
    height: 200px;
  }
  .image-loading-svg {
    width: 20%;
    @media screen and (max-width: 500px) {
      width: 40%;
    }
  }
}
