.form-success {
  color: rgb(12, 177, 12);
  font-weight: normal;
  font-family: var(--font1);
  padding: 1rem;
}

.form-error {
  color: rgb(212, 34, 34);
  font-weight: normal;
  font-family: var(--font1);
}
.input-error {
  border: 3px solid red;
}

.message-input {
  min-height: 400px;
}
