* {
    font-family: var(--header-font);
}

label {
    color: #FFF;
}

input {
    border: 2px solid var(--color1);
}


input,
.input-error {
    border-radius: .5rem;
    background: #000;
    height: 50px;
    padding: 0.75rem 1.25rem;
    color: #FFF;

    &::placeholder {
        color: #FFF;
    }
}

.input-error {
    border: 2px solid red;

}

.error {
    color: red;
}