#hero {
  @media only screen and (max-device-width: 1050px) and (orientation: landscape) {
    height: 1000px;
    padding-top: 2rem;
    justify-content: flex-start;
  }
  //Ipad
  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
    padding-top: 5rem;
  }

  .hero-container {
    .hero-main {
      .hero-titles {
        .hero-text {
          .hero-text-wrapper {
            h1 {
              @media only screen and (max-device-width: 1050px) and (orientation: landscape) {
                font-size: 6rem;
                line-height: 4.8rem;
              }
            }
            .hero-buttons {
              @media only screen and (max-device-width: 1050px) and (orientation: landscape) {
                a {
                  button {
                    width: 360px;
                    height: 125px;
                    font-size: 1.5rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
