#hero {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  background-size: contain;
  background: repeat center center black;
  // url("../../assets/images/1_XpQiGH0DMQUijuDiHoPWcw.jpeg")

  @media (min-width: 768px) {
    flex-direction: row;
  }
  .hero-main {
    position: relative;

    @media (min-width: 768px) {
      position: absolute;
      width: 100%;
      height: auto;
      z-index: 30;
      display: flex;
      flex-direction: row;
    }
    .hero-titles {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: left;
      padding: 30px 10px 10px 0px;
      position: relative;
      z-index: 12;
      width: 100%;

      @media (min-width: 768px) {
        width: 50%;
      }

      .hero-text {
        color: black;
        font-weight: bold;
        position: relative;
        z-index: 5;
        width: 100%;
        padding: 10px 0 10px 10px;
        h1 {
          font-size: 2.5rem;
          font-family: var(--font1);

          @media (min-width: 1000px) {
            font-size: 4rem;
          }
          @media (max-width: 285px) {
            font-size: 2rem;
          }
        }
        h3 {
          font-size: 15px;
          font-family: var(--font2);
          padding: 5px 0;
          @media (min-width: 1000px) {
            font-size: 1.875rem;
          }
        }

        .hero-button {
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          color: black;
          cursor: pointer;
          padding: 10px 0;
          @media (min-width: 768px) {
            justify-content: left;
          }

          button {
            padding: 20px;
            width: 225px;
            height: 70px;
            border-radius: 10px;
            border: none;
            background-color: var(--color2);
            font-family: var(--font1);
            filter: drop-shadow(5px 5px 8px black);
            cursor: pointer;
            &:hover {
              filter: none;
              border: 5px solid black;
            }
            @media (min-width: 1000px) {
              width: 500px;
              height: 150px;
              font-size: 30px;
            }
          }
        }
      }
    }

    .hero-content {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      color: white;
      width: 100%;
      height: 180px;

      @media (min-width: 768px) {
        flex-direction: column;
        width: 60%;
      }

      @media (max-width: 768px) {
        visibility: hidden;
      }
      @media (max-width: 300px) {
        height: 100px;
      }

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
      }
    }
  }
  .featured {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: black;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    height: 70px;
    border-top: 5px solid var(--color1);
    border-bottom: 5px solid var(--color1);
    @media (max-width: 767px) {
      display: none;
    }

    p {
      width: 40%;
      height: 100%;
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: var(--font1);
      color: white;
      @media (max-width: 768px) {
        padding-left: 1rem;
      }
    }
  }

  .soundbar-content {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    z-index: 5;
  }
  .album-cover {
    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      // border: 5px solid var(--color1);
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  .album-active {
    img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 50;
      width: 100%;
    }
  }
}
