#hero {
  padding: 0;
  margin: 0;

  background-size: contain;
  background: url("../../assets/images/1_XpQiGH0DMQUijuDiHoPWcw.jpeg") repeat
    center center black;

  .hero-titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 30px 10px 10px 10px;
    position: relative;
    z-index: 12;

    .hero-text {
      color: black;
      font-weight: bold;
      h1 {
        font-size: 40px;
        font-family: var(--font1);
      }
      h3 {
        font-size: 15px;
        font-family: var(--font2);
      }
    }

    .hero-button {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: black;
      cursor: pointer;
      padding: 10px;

      button {
        padding: 20px;
        width: 225px;
        height: 70px;
        border-radius: 10px;
        border: none;
        background-color: var(--color2);
        font-family: var(--font1);
        filter: drop-shadow(5px 5px 8px black);
      }
    }
  }

  .hero-content {
    display: flex;

    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    color: white;
    width: 100%;
    // padding: 5rem 10px;
    position: relative;
    z-index: 12;

    @media (max-width: 768px) {
      visibility: hidden;
    }
    @media (max-width: 370px) {
      // padding: 0 10px 5rem 10px;
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 50%;
    }

    img {
      width: 70%;
      border: 3px solid black;
    }
  }
  .sound-bars {
    width: 100%;
    position: relative;
    z-index: 3;
  }
}
