#hero-test {
  display: block;
  background-color: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: black;
  border-bottom: 3px solid var(--color1);
  width: 100%;
  height: 100%;

  @media screen and (max-width: 1140px) {
    background-image: none;
  }

  @media screen and (max-width: 550px) {
    background-color: black;
  }

  .hero-section-test {
    display: block;
    width: 100%;
    height: 100vh;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
    color: white;
    position: relative;

    @media screen and (max-width: 1140px) {
      padding: 0 25px 50px 25px;
    }
    @media screen and (max-width: 450px) {
      padding: 25px 1rem;
    }

    .hero-section-outer-wrapper-test {
      display: block;
      width: 100%;
      height: 100%;
      padding: 25px 2rem 0 2rem;

      @media screen and (max-width: 650px) {
        padding: 0;
      }

      .hero-content-middle-wrapper-test {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;

        .hero-section-inner-wrapper-test {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          @media screen and (max-width: 1140px) {
            flex-direction: column;
          }
          .hero-test-text {
            height: 100%;
            width: 50%;
            border: 5px solid var(--color2);
            border-radius: 0.5rem;
            margin-bottom: 2rem;
            padding: 1rem;

            @media screen and (max-width: 1200px) {
              padding-top: 4rem;
            }

            @media screen and (max-width: 1140px) {
              width: 100%;
            }

            h1 {
              color: white;
              font-family: var(--font3);
              letter-spacing: 0.1cm;
              line-height: 5rem;
              margin-bottom: 1rem;
              font-size: 90px;
              @media screen and (max-width: 1400px) {
                font-size: 100px;
                margin-bottom: 0;
                padding-bottom: 2rem;
                position: relative;
                z-index: 100;
                line-height: 5rem;
              }
              @media screen and (max-width: 1200px) {
                padding-bottom: 0;
              }
              @media screen and (max-width: 1140px) {
                color: white;
                text-align: center;
                text-shadow: 5px 5px 8px black;
              }
              @media screen and (max-width: 650px) {
                font-size: 80px;
              }
              @media screen and (max-width: 550px) {
                text-align: left;
              }

              @media screen and (max-width: 550px) {
                font-size: 80px;
                line-height: 4.5rem;
              }
              @media screen and (max-width: 450px) {
                font-size: 70px;
                line-height: 4rem;
              }
              @media screen and (max-width: 450px) {
              }

              @media screen and (max-width: 350px) {
                font-size: 50px;
                line-height: 2.8rem;
              }
            }
            @media screen and (max-width: 1140px) {
              width: 100%;
            }
          }
          .hero-test-subtitle {
            font-family: var(--font2);
            font-weight: normal;
            font-size: 1.5rem;
            color: white;
            padding-right: 10rem;
            @media screen and (max-width: 1400px) {
              font-size: 1.3rem;
            }
            @media screen and (max-width: 1200px) {
              padding-right: 0;
            }

            @media screen and (max-width: 1140px) {
              color: white;
              text-align: center;
              padding: 1rem;
              font-size: 1.5rem;
              position: relative;
              z-index: 100;
              text-shadow: 5px 5px 8px black;
            }
            @media screen and (max-width: 550px) {
              font-size: 1.3rem;
              text-align: left;

              padding-left: 0;
            }
            @media screen and (max-width: 450px) {
              font-size: 1rem;
            }
            @media screen and (max-width: 350px) {
              font-size: 0.8rem;
            }
          }
          .hero-test-buttons {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            @media screen and (max-width: 600px) {
              align-items: center;
              flex-direction: column;
              margin: 0;
              position: relative;
              z-index: 100;
            }

            a {
              text-decoration: none;
              &:visited {
                color: black;
              }
            }

            button {
              width: 250px;
              height: 90px;
              transition: all 0.2s ease;
              padding: 0.5rem;
              @media screen and (max-width: 1200px) {
                margin: 0.5rem 0;
              }
            }
            .start-btn {
              font-weight: normal;
              outline: none;
              position: relative;
              border: 3px solid black;
              border-radius: 50px;
              background: var(--color2);
              color: black;
              box-shadow: -5px 5px 0 black;

              &:hover {
                filter: none;
                box-shadow: none;
              }

              @media screen and (max-width: 1140px) {
                margin-right: 0;
                background: black;
                border: 3px solid var(--color2);
                color: white;
                &:hover {
                  background-color: var(--color2);
                  color: black;
                  filter: none;
                  border: 3px solid black;
                }
              }
            }
            .for-artists-btn {
              background-color: var(--color1);
              color: black;

              border: 3px solid black;
              margin-left: 0.5rem;
              font-weight: normal;
              outline: none;
              position: relative;
              border: 3px solid black;
              border-radius: 50px;

              color: black;
              //filter: drop-shadow(5px 5px 8px black);
              box-shadow: -5px 5px 0 black;
              // box-shadow: 0 6px rgb(136, 120, 31);
              &:hover {
                //color: white;
                border: black;
                //background-color: black;
                //color: white;
                filter: none;
                border: 3px solid black;
                box-shadow: none;
              }
              @media screen and (max-width: 1140px) {
                padding-left: 0;
                margin-left: 0;
                background-color: black;
                color: white;
                border: 3px solid var(--color1);
                box-shadow: none;
                &:hover {
                  color: black;
                  background-color: var(--color1);
                  border: 3px solid black;
                  box-shadow: none;
                }
              }
            }
          }
          .hero-test-image {
            width: 50%;
            height: 110%;
            @media screen and (max-width: 1140px) {
              display: none;
            }
          }
        }
      }
    }
  }
  .hero-image {
    position: absolute;
    width: auto;
    bottom: 0;
    right: 0;
    height: 100%;

    @media screen and (max-width: 1300px) {
      bottom: 0;
      right: 0;
    }
    @media screen and (max-width: 1200px) {
      display: none;
    }
  }
  .hero-image-mobile {
    position: absolute;
    width: auto;
    z-index: 0;
    display: none;
    top: 90px;
    right: 0;

    @media screen and (max-width: 1140px) {
      display: flex;
    }
    @media screen and (max-width: 500px) {
      height: 350px;
    }
    @media screen and (max-width: 450px) {
      height: 250px;
    }
    @media screen and (max-width: 350px) {
      height: 200px;
    }
  }
  .hero-image-mobile-bottom-left {
    position: absolute;
    width: auto;
    z-index: 0;
    display: none;
    left: 0;
    bottom: 0;
    @media screen and (max-width: 1140px) {
      display: flex;
    }
    @media screen and (max-width: 500px) {
      height: 150px;
    }
    @media screen and (max-width: 350px) {
      height: 125px;
    }
  }
}
