.social-media {
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;

    li {
      a {
        color: white;
        text-decoration: none;
        font-size: 40px;
        padding: 0 5px;

        &:visited {
          color: inherit;
        }
      }
    }
  }
}
