#checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    width: 100%;
    position: relative;

    label {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: .9rem;
        text-align: center;

        input {
            margin-right: .5rem;

        }
    }


}

.input-error {

    color: red;
}