.title {
    font-family: var(--header-font);
    color: red;
    font-size: 3rem;
}

// .title {
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   h1 {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     font-family: var(--header-font);
//     letter-spacing: 0.1cm;
//     font-weight: normal;
//     color: white;
//     background-color: transparent;
//     padding: 1rem;

//     border-left: none;
//     border-right: none;
//     width: 100%;
//     text-align: center;
//     font-size: 3rem;
//     position: relative;

//     @media screen and (max-width: 500px) {
//       flex-direction: column-reverse;
//       font-size: 2.5rem;
//     }

//     @media screen and (max-width: 350px) {
//       font-size: 2rem;
//     }

//     svg {
//       width: 50px;
//       margin-right: 0.5rem;

//       @media screen and (max-width: 500px) {
//         width: 40px;
//         padding-bottom: 0;
//       }
//     }
//   }
// }