.desktop-main-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  color: white;
  width: auto;

  li {
    padding: 0 10px;

    // text-transform: uppercase;
    font-weight: normal;
    a {
      line-height: 22px;
      text-decoration: none;
      position: relative;
      padding: 5.2px 0;
      transition: color 0.1s, background-color 0.1s, padding 0.15s ease-in;
      color: white;

      &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: 3px;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: var(--color2);
        transform-origin: right top;
        transform: scale(0, 1);
        transition: color 0.1s, transform 0.15s ease-out;
      }

      &:hover::before,
      &:focus::before {
        transform-origin: left top;
        transform: scale(1, 1);
      }
    }
  }
  .signup-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: var(--header-font);
    font-size: 18px;
    font-weight: normal;
    padding: 10px;
    background: transparent;
    border: 2px solid var(--color1);
    border-radius: 0.5rem;
    color: white;
    cursor: pointer;
    width: 150px;
    height: 50px;
    transition: all 0.2s ease;
  }
}

.left-links-container {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 50%;
  height: 100%;
  .logo-container {
    display: flex;
    justify-content: left;
    align-items: center;
    height: auto;
    position: relative;
    z-index: 9999;
    width: auto;

    .logo-link {
      justify-content: left;
      align-items: center;
      position: relative;
      width: 200px;
      margin-right: 1rem;

      .main-header-logo {
      }
    }
  }
}

.right-links-container {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  width: 50%;
  height: 100%;
  color: white;
  .right-links-inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.left-links-container,
.right-links-container {
  @media screen and (min-width: 950px) {
    display: flex;
  }
}
