#how-it-works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    margin-top: 2em;
    font-family: var(--font1);
    letter-spacing: 0.04cm;
  }

  .boxes {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem 7rem 2rem;

    @media (max-width: 768px) {
      flex-direction: column;
    }
    .box-border {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      border-left: 10px solid var(--color1);
    }
    .box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 250px;
      background-color: rgb(0, 0, 0);
      color: white;
      font-family: var(--font1);
      letter-spacing: 0.05cm;
      border-radius: 0 10px 10px 0;
      position: relative;
      cursor: pointer;
      // box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
      &:hover {
        box-shadow: none;
        transition: 0.2s ease-in-out;
      }
      @media (max-width: 768px) {
        margin: 4em 0;
      }

      h3 {
        text-align: center;
        padding: 10px 0;
      }

      .read-more {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: black;
        border: 2px solid var(--color1);
        color: white;
        width: 50px;
        height: 30px;
        cursor: pointer;

        svg {
          width: 100%;
          font-weight: 900;
        }

        &:hover {
          color: black;
          background-color: var(--color2);
          border: none;
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        padding: 10px;
        position: absolute;
        top: 95%;
        background-color: white;
        color: black;
        border-radius: 0 0 10px 0;
        width: 320px;
        border: 1px solid grey;
        border-left: 10px solid var(--color2);
        z-index: 1;
        font-family: var(--font2);
        font-weight: bold;
        letter-spacing: 0.01cm;
      }

      .content-enter {
        opacity: 0;
        transform: translateY(-150px);
        z-index: 1;
      }
      .content-enter-active {
        opacity: 1;
        transform: translateY(0);
        transition: opacity 300ms, transform 300ms ease-in-out;
        z-index: -1;
      }
      .content-exit {
        opacity: 1;
        transform: translateY(0);
        z-index: 1;
      }
      .content-exit-active {
        // opacity: 0;
        transform: translateY(-150px);
        transition: opacity 300ms, transform 300ms ease-in-out;
        z-index: -1;
      }

      .how-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 10px 10px 10px;
        img {
          width: 70%;
        }
      }
    }
  }
}
