#how-it-works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;

  .hiw-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    div {
      width: auto;
      height: auto;
      border: 2px solid black;
      margin: 5px 0;
      padding: 5px;
    }
    .hiw-writing {
    }
  }

  p {
    color: black;
    text-align: left;
  }
}
