#release-preview {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  -webkit-overflow-scrolling: touch;
  background: rgba(0, 0, 0, 0.9);
  .release-preview-wrapper {
    border: 5px solid var(--color2);
    border-radius: 0.5rem;
    background: black;
    padding: 1rem;
    width: 100%;
    height: 100%;
    position: relative;

    // overflow-y: scroll;
    // -ms-overflow-style: none; /* IE and Edge */
    // scrollbar-width: none; /* Firefox */
    // &::-webkit-scrollbar {
    //   display: none;
    // }
    .close-release-info {
      font-family: var(--font1);
      width: 100%;
      padding: 5px;
      display: flex;
      justify-content: flex-end;
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      padding: 1rem;
    }
    .release-preview-container {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .release-preview-content {
        padding: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        .release-content-left {
          width: 40%;
          height: auto;
          padding: 1rem;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .release-image {
            border-radius: 20px;
          }
          h1 {
            color: white;
            padding: 0.5rem 0 1rem 0;
          }
          .release-content-description {
            padding-bottom: 1rem;
            text-align: left;
          }
          .button-container {
            width: 100%;
            button {
              border: 3px solid var(--color1);
              background: transparent;
              width: 100%;
              height: 70px;
              font-family: var(--font1);
              font-size: 1rem;
              cursor: pointer;
              color: white;
              margin-bottom: 1rem;
              transition: all 0.2s ease;
              position: relative;

              &:hover {
                background-color: var(--color1);
                transform: scale(1.05);
                color: black;
              }
            }
            .no-token-btn {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              position: relative;
              img {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 30px;
                margin: 2px;
              }
            }
          }
        }
        .release-content-right {
          width: 60%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          .record-image {
            position: relative;
            .record-svg {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              width: 100%;
            }
          }
          .release-information {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            h1 {
              font-family: var(--font1);
              font-weight: normal;
              padding-bottom: 0.5rem;
            }

            .release-tracklist {
              padding: 1rem;
              margin: 1rem 0;
              ul {
                list-style: none;
              }
            }
          }
        }
      }
    }
  }
}
