#privacy-policy {
  background-color: black;
  color: white;

  .privacy-policy-wrapper {
    padding: 8rem 1rem 8rem 1rem;

    .privacy-policy-container {
      font-family: var(--secondary-font);
      font-weight: var(--secondary-font-weight);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 7px solid var(--color2);
      border-radius: 20px;
      padding: 5rem;

      p {
        padding-top: 2rem;
      }

      @media screen and (max-width: 700px) {
        padding: 2rem;
      }
      @media screen and (max-width: 500px) {
        font-size: 0.8rem;
      }
      h1 {
        text-align: center;
      }
      h2 {
        margin-top: 1rem;
        color: var(--color1);
        font-family: var(--header-font);
        font-weight: normal;
      }
      h3 {
        color: var(--color1);
        font-family: var(--header-font);
        font-weight: normal;
        text-decoration: underline 2px solid var(--color2);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        img {
          width: 30px;
          margin-right: 0.5rem;
        }
        .speaker-right-privacy {
          margin-left: 0.5rem;
          -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
        }
      }

      ul,
      ol {
        list-style: none;
        li {
          padding: 0.5rem 0;

          a {
            color: var(--color1);
            &:visited {
              color: var(--color1);
            }
          }
          strong {
            color: var(--color1);
            font-family: var(--header-font);
            font-weight: normal;
          }
          .rights-nft-alpha-list {
            list-style-type: lower-alpha;
            padding-left: 4rem;
            @media screen and (max-width: 500px) {
              padding-left: 0;
            }
          }
        }
      }
    }
  }
}
