#release-calendar {
  background: var(--bg-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: white;
  width: 38.5rem;
  height: 18.75rem;
  border: 2px solid var(--color1);

  padding: 0 2em;
  .calendar {
    width: 100%;
  }
}
