.spotlight-bg {
  position: relative;
  .spotlight1 {
    width: 100%;
    height: 700px;

    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
  }
  .spotlight2 {
    width: 100%;

    // object-fit: contain;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
  }
}
