.login-links-home-nothome {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  color: white;
  font-family: var(--secondary-font);

  li {
    cursor: pointer;
  }

  .signup-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: none;

    button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      font-weight: normal;
      padding: 10px;
      background: transparent;
      border: 3px solid var(--color1);
      border-radius: 50px;
      color: white;
      cursor: pointer;
      width: 125px;
      height: 50px;
      transition: all 0.2s ease;
      @media screen and (max-width: 1200px) {
        width: 125px;
      }

      img {
        width: 30px;
        color: white;
        font-weight: bold;
      }

      &:hover {
        color: black;
        background-color: var(--color1);
        transform: scale(1.05);
      }
    }
  }

  .signup-no-display-nothome {
    display: none;
  }
}
