.signup-li {
  .signup-button-container {
    border-radius: 0.5rem;
    transition: 0.01s ease;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;

    .signup-button-link {
      display: flex;
      justify-content: center;
      align-items: center;
      background: none;
      border: none;
      color: #ffffff;
      text-align: center;
      width: 100%;
      height: 49px;
      font-size: 18px;
      transition: all 0.4s;
      cursor: pointer;

      &:before {
        content: none;
      }

      &:hover span {
        padding-right: 30px;
      }

      &:hover span:after {
        opacity: 1;
        right: 0;
      }

      span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.4s;
        display: flex;
        justify-content: center;
        align-items: center;

        &:after {
          content: url("../../../../../../common/assets/images/login.svg");
          position: absolute;
          opacity: 0;
          top: 1.5px;
          bottom: 0;
          width: 20px;
          right: -60px;

          transition: 0.5s;
          filter: var(--color1-svg-filter);
        }
      }
    }
  }
}