.checkout-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    margin: 2px;
  }
}
