.checkout-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    margin: 2px;
  }
}

.stripe-loader-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.411);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 99999999;
}
