#available-release-hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 3px solid var(--color1);
  border-radius: 20px;

  .available-release-hover-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 2rem;
      width: 100%;
      cursor: pointer;
      background: none;
      border: none;
      color: white;

      &:hover {
        transition: 0.2s ease;
        transform: scale(1.1);
      }
      svg {
        width: 100px;
      }
      .available-release-hover-title {
        font-family: var(--header-font);
        width: 100%;
        font-size: 1rem;
      }
    }
  }

  .no-popup-show {
    display: none;
  }
  .close-popup {
    display: none;
  }
}
