nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px;

  background-color: yellow;
  // border-bottom: 5px solid yellow;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;

    a {
      display: flex;
      justify-content: left;
      align-items: center;
      width: 100%;
      img {
        width: 150%;
        @media (min-width: 768px) {
          width: 80%;
        }
      }
    }
  }

  label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    padding: 5px;
    @media (min-width: 770px) {
      display: none;
    }

    .mobile-nav {
      display: flex;
      visibility: hidden;
      background-color: black;
      justify-content: left;
      align-items: center;
      width: 100%;
      left: 0%;
      padding: 10px;
      transition: 0.7s cubic-bezier(0.6, -0.28, 0.735, 0.045);
      position: absolute;

      ul {
        list-style: none;
      }
      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  .desktop-navlinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;

    @media (max-width: 770px) {
      display: none;
    }

    ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      li {
        padding: 2px;
        a {
          text-decoration: none;
        }
      }
    }
  }
  span {
    background: black;
    height: 7px;
    margin: 0 0 4px 0;
    transition: 0.7s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  span:nth-of-type(1) {
    width: 100%;
  }

  span:nth-of-type(2) {
    width: 75%;
  }

  span:nth-of-type(3) {
    width: 50%;
  }

  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"]:checked ~ .mobile-nav {
    transform: translateY(87px);
    visibility: visible;
  }

  input[type="checkbox"]:checked ~ span:nth-of-type(1) {
    transform-origin: bottom;
    // transform: rotatez(0deg) translate(-2px, 0px);
    width: 50%;
    background-color: red;
  }

  input[type="checkbox"]:checked ~ span:nth-of-type(2) {
    // transform: rotatez(-45deg) translate(30px, -10px);
    width: 75%;
    background-color: blue;
  }

  input[type="checkbox"]:checked ~ span:nth-of-type(3) {
    // transform: rotatez(-45deg) translate(2px, -19px);
    width: 100%;
    background-color: green;
  }

  @media (max-width: 768px) {
    height: 70px;
  }
}

.scrolled {
  position: fixed;
  top: 0;
  left: 0;
}
