#pass-recovery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;

  padding-bottom: 8rem;

  .pass-recovery-title {
    width: 100%;
    h1 {
      font-family: var(--header-font);
      color: white;
      padding: 1rem;
      width: 100%;
      text-align: center;
      font-size: 3rem;
      position: relative;
      letter-spacing: 0.1cm;
      font-weight: normal;
    }
    padding-bottom: 5rem;
  }
  .pass-recovery-wrapper {
    padding: 0 1rem;
    form {
      font-family: var(--header-font);
      border: 2px solid var(--color2);
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2rem;

      @media screen and (max-width: 300px) {
        border: none;
      }
      .error {
        border: 3px solid red;
      }
      button {
        border: 2px solid var(--color1);
        border-radius: 0.5rem;
        font-family: var(--header-font);
        font-size: 1rem;
        background: transparent;
        width: 200px;
        height: 70px;
        cursor: pointer;
        color: white;
        transition: all 0.2s ease;
        position: relative;
        font-weight: normal;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(1.05);
        margin: 0.5rem 0 1rem 0;
      }
    }
    .pass-recovery-container-desktop {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 1rem;
      max-width: 400px;

      .error-message {
        list-style: none;
        font-family: var(--font1);
        color: red;
        text-align: center;
        padding: 0.1rem 0;
        font-weight: normal;
        font-size: 0.8rem;
        width: 100%;

        @media screen and (max-width: 400px) {
          font-size: 0.7rem;
        }
      }
    }
  }
}
