#password-recovery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  padding-top: 8rem;
  padding-bottom: 8rem;

  .password-recovery-title {
    width: 100%;
    h1 {
      font-family: var(--header-font);
      color: white;
      padding: 1rem;
      width: 100%;
      text-align: center;
      font-size: 3rem;
      position: relative;
      letter-spacing: 0.1cm;
      font-weight: normal;
    }
    padding-bottom: 5rem;
  }
}
