form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .label-error-message {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    font-weight: normal;
    align-items: center;
    text-align: center;
    font-family: var(--secondary-font);
    font-weight: 500;

    /* input error/success styles */
    .input-error {
      transition: 0.2s ease;
      border: 3px solid red;
    }
    .input-success {
      transition: 0.2s ease;
      border: 3px solid rgb(1, 151, 1);
    }

    @media screen and (max-width: 400px) {
      font-size: 0.8rem;
    }
  }

  .signup-checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    font-size: 0.7rem;
    input {
      margin: 0 0.3rem;
      width: auto;
      &:checked {
        border: 2px solid var(--color2);
      }
    }
  }

  button {
    border: 2px solid var(--color1);
    border-radius: 0.5rem;
    font-family: var(--header-font);
    font-size: 1rem;
    background: transparent;
    width: 200px;
    height: 70px;
    cursor: pointer;
    color: white;
    transition: all 0.2s ease;
    position: relative;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.05);
    margin: 0.5rem 0 1rem 0;
    div {
      font-family: var(--font1);
      font-weight: normal;
    }
    svg {
      position: absolute;
      width: 30px;
      right: 10%;
    }
  }
}
