form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .label-error-message {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    font-weight: normal;
    align-items: center;
    text-align: center;
    font-family: var(--secondary-font);
    font-weight: 500;

    /* input error/success styles */
    .input-error {
      transition: 0.2s ease;
      border: 3px solid red;
    }
    .input-success {
      transition: 0.2s ease;
      border: 3px solid rgb(1, 151, 1);
    }

    .error-message-text {
      text-align: left;
      letter-spacing: 0.01cm;
      padding-left: 0.5rem;
      font-size: 0.7rem;
      color: red;
    }

    svg {
      width: 20px;
      filter: invert(95%) sepia(91%) saturate(5565%) hue-rotate(353deg)
        brightness(99%) contrast(94%);
      @media screen and (max-width: 400px) {
        width: 30px;
      }
    }

    @media screen and (max-width: 400px) {
      font-size: 0.8rem;
    }
  }

  .input-styles {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    border: none;
    /* input error/success styles */

    .input-error {
      transition: 0.2s ease;
      border: 3px solid red;
    }
    .input-success {
      transition: 0.2s ease;
      border: 3px solid rgb(1, 151, 1);
    }
    label {
      background-color: black;
      position: absolute;
      padding: 0 0.3rem;
    }

    .email-label {
      left: 20px;
      top: 1px;
    }
    .username-label {
      top: 70px;
      left: 20px;
    }
    .password-signup-label {
      top: 140px;
      left: 20px;
    }

    .confirm-password-label {
      bottom: 80px;
      left: 20px;
    }

    .terms-check-label {
      background-color: transparent;
      position: static;
      width: auto;
      text-align: center;
      display: flex;
      justify-content: center;
      a {
        color: var(--color2);
        margin-left: 5px;
        &:visited {
          color: var(--color2);
        }
      }

      @media screen and (max-width: 380px) {
        font-size: 0.6rem;
      }
    }
    input {
      margin: 10px 0;
      background: var(--color-light);
      font-family: var(--header-font);
      font-size: 1rem;
      font-weight: normal;
      line-height: inherit;
      width: 100%;
      height: auto;
      padding: 0.75rem 1.25rem;
      border: 2px solid var(--color1);
      outline: none;
      color: var(--color-black);
      background: black;
      text-transform: unset;
      text-rendering: optimizeLegibility;
      border-radius: 0.5rem;
      @media screen and (max-width: 300px) {
        font-size: 0.7rem;
      }
    }
  }

  .signup-checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    font-size: 0.7rem;
    input {
      margin: 0 0.3rem;
      width: auto;
      &:checked {
        border: 2px solid var(--color2);
      }
    }
  }

  button {
    border: 2px solid var(--color1);
    border-radius: 0.5rem;
    font-family: var(--header-font);
    font-size: 1rem;
    background: transparent;
    width: 200px;
    height: 70px;
    cursor: pointer;
    color: white;
    transition: all 0.2s ease;
    position: relative;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.05);
    margin: 0.5rem 0 1rem 0;
    div {
      font-family: var(--font1);
      font-weight: normal;
    }
    svg {
      position: absolute;
      width: 30px;
      right: 10%;
    }
  }
}
