#login-form {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow-large);
  width: 100%;
  background-color: black;
  font-family: var(--font2);
  position: relative;

  .or-fold {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 10px 0;

    p {
      margin: 0 10px;
    }
    hr {
      width: 100%;
      size: 0.2px;
      border: 0.2px solid var(--footer-gray);
    }
  }

  .signup-redirect {
    font-family: var(--header-font);
    font-weight: normal;
    color: var(--color2);
    cursor: pointer;
  }

  .login-btn-password {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem 0 1rem 0;

    @media screen and (orientation: portrait) and (max-device-width: 285px) {
      flex-direction: column;
    }
  }

  p {
    text-align: center;
  }

  .show-password {
    font-size: 10px;
    font-family: var(--secondary-font);
    padding: 0;
    width: 100%;
    text-align: right;
    cursor: pointer;
  }

  .signin-button-container {
    border-radius: 0.5rem;
    transition: 0.01s ease;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

    .signin-button-link {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.5rem;
      background: none;
      border: none;
      color: #ffffff;
      text-align: center;
      border: 2px solid var(--color1);
      font-size: 1rem;
      width: 200px;
      height: 60px;
      font-family: var(--header-font);
      transition: all 0.4s;
      cursor: pointer;
      margin: 5px;

      &:before {
        content: none;
      }

      &:hover span {
        padding-right: 30px;
      }
      &:hover span:after {
        opacity: 1;
        right: 0;
      }
      span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.4s;
        display: flex;
        justify-content: center;
        align-items: center;

        &:after {
          content: url("../../../assets/images/login.svg");
          position: absolute;
          opacity: 0;
          top: 1.5px;
          bottom: 0;
          width: 20px;
          right: -60px;

          transition: 0.5s;
          color: yellow;
          filter: var(--color1-svg-filter);
        }
      }
    }
  }
  .signing-in-status {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    padding-right: 3rem;

    .signin-loading-icon {
      position: absolute;
      right: 30px;
      width: 30px;
    }
  }
}

.username-input-container,
.password-input-container {
  width: 100%;
}
