.loader-wrapper {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  .component-loading-svg {
    width: 20%;
    @media screen and (max-width: 500px) {
      width: 40%;
    }
  }
}
