#mobile-navigation {
  display: flex;
  background-color: black;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  z-index: 9999999;
  width: 100%;
  padding: 0 0.5rem;
  font-family: var(--font1);
  color: white;
  // position: fixed;
  // top: 0;
  // bottom: 0;
  // right: 0;
  // left: 0;

  @media (min-width: 950px) {
    display: none;
  }
  .mobile-navigation-logo-container {
    display: flex;
    justify-content: left;
    align-items: center;
    height: auto;
    position: relative;
    z-index: 9999;
    width: auto;
    @media screen and (min-width: 950px) {
      display: none;
    }

    .mobile-navigation-logo-link {
      justify-content: left;
      align-items: center;
      position: relative;
      width: 200px;
      margin-right: 1rem;
    }
  }
  .mobile-navigation-hamburger-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      font-size: 0.5rem;
    }
  }

  .mobile-navigation-settings-icon {
    width: 40px;
    filter: invert(88%) sepia(67%) saturate(2732%) hue-rotate(353deg)
      brightness(101%) contrast(92%);
  }
  .settings-icon-scrolled {
    width: 40px;
    filter: invert(0%) sepia(0%) saturate(4%) hue-rotate(268deg) brightness(93%)
      contrast(101%);
  }

  @media (max-width: 768px) {
    height: 70px;
  }
}
.mobile-navigation-aside {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  z-index: var(--highest-index);
  background-color: black;
  padding: 0 0 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  transform: translateX(0);
  transition: transform 200ms 0s;
  transition-property: transform, visibility;
  border: none;
  font-size: 30px;
  @media screen and (min-width: 950px) {
    display: none;
  }
  .mobile-navigation-aside-top {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.25rem;
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 1;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    .aside-top-close {
      font-size: 1rem;
      cursor: pointer;
    }
    .mobile-navigation-aside-top-image {
      width: 200px;
    }
  }

  .signup-no-display-nothome {
    display: none;
  }

  .mobile-nav-header-nothome {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    div {
      padding: 0 0.5rem;
    }
    img {
      width: 50%;
      display: none;
    }
  }

  ul {
    color: white;
    list-style: none;
    width: 100%;
    height: 100%;
    padding: 1rem;
    li {
      display: flex;
      justify-content: left;
      align-items: center;
      width: auto;
      font-family: var(--font1);

      font-size: 2rem;
      padding: 0.2rem 0;
      a {
        text-decoration: none;
        color: white;
        display: flex;
        width: auto;
        &:hover {
          color: var(--color1);
        }
      }
    }
    .signup-li {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem 0;
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid var(--color1);
        border-radius: 50px;
        background: transparent;
        width: 200px;
        height: 70px;
        font-family: var(--font1);
        font-weight: normal;
        font-size: 1rem;
        cursor: pointer;
        color: white;
        margin-bottom: 1rem;
        transition: all 0.2s ease;
        position: relative;

        &:hover {
          background-color: var(--color1);
          transform: scale(1.05);
          color: black;
        }
      }
    }
  }

  .signup-btn-container-nothome {
    display: flex;
    justify-content: center;
    align-items: center;

    .signup-btn-nothome {
      font-family: var(--font1);
      font-size: 2rem;
      font-weight: normal;
      position: relative;
      padding: 10px;
      background: transparent;
      transition: 0.2s ease;
      color: white;
      cursor: pointer;
      @media screen and (orientation: landscape) {
        overflow-y: scroll;
      }

      a {
        color: white;
        &:hover {
          color: black;
        }
      }

      &:hover {
        color: black;
        background: var(--color2);
      }
    }
  }
}
