.term-link-wrapper {
  display: flex;
  min-height: 600px;
  justify-content: center;
  align-items: center;
  width: 105%;
  padding: 5rem 1rem;

  .term-link-container {
    background-color: black;
    border: 2px solid var(--color2);
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-size: 2rem;
    transition: all 0.2s ease;

    @media screen and (max-width: 800px) {
      flex-direction: column;
    }

    .terms-image {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 0 3rem;

      svg {
        width: 100px;
      }

      @media screen and (max-width: 800px) {
        padding: 1rem;

        svg {
          width: 125px;
        }
      }
    }

    .list-container {
      border-left: 2px solid var(--color2);
      padding: 3rem;
      height: 100%;

      ul {
        font-family: var(--header-font);
        font-weight: normal;

        @media screen and (max-width: 800px) {
          text-align: left;
        }

        li {
          position: relative;

          &:hover {
            color: var(--color1);
          }

          a {
            color: white;
            text-decoration: none;
            font-family: var(--header-font);
            font-weight: normal;

            &:hover {
              color: var(--color1);
            }
          }
        }
      }

      @media screen and (max-width: 800px) {
        border-left: none;
        border-top: 2px solid var(--color2);
        width: 100%;

        text-align: center;
      }

      @media screen and (max-width: 500px) {
        font-size: 1.4rem;
      }

      @media screen and (max-width: 340px) {
        font-size: 1.2rem;
      }
    }
  }
}