#collection-navigation-ul {
  position: fixed;
  width: 150px;
  border-radius: 0.5rem;
  background-color: var(--main-color-nav-containers-darker-grey);
  padding: 1rem;
  li {
    list-style: none;
    a {
      text-decoration: none;
    }
  }
}
