$margin: 10px;
$width: 20px;
$num-dots: 10;
$initial-height: $width;
$desired-height: 200px;

#sound-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 5px solid yellow;
  position: relative;
  z-index: 0;
  background-color: black;
  @media (min-width: 768px) {
    top: 0;
    left: 0;
    // transform: translateX(-10%);
    border-top: none;
  }

  .container {
    width: 10 * ($width + $margin) - $margin;
    height: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @media (max-width: 285px) {
      display: none;
    }

    .no-dot {
      display: flex;
    }

    .dot {
      display: flex;
      align-items: center;
      position: absolute;
      width: $width;
      height: $initial-height;
      background: #ff0000;
      border-top-right-radius: 50px;
      border-top-left-radius: 50px;
      border-bottom-right-radius: 50px;
      border-bottom-left-radius: 50px;
      animation: scale 2s infinite, rainbow 10s infinite;
    }

    @for $i from 1 through $num-dots {
      div:nth-child(#{$i}) {
        @if ($i > 1) {
          left: ($i - 1) * ($width + $margin);
        }
        animation-delay: 0.2s * $i;
      }
    }
    @keyframes scale {
      0% {
      }
      20% {
        height: $desired-height;
        transform: translate(0, -60%);
        // background-color: #fff;
      }
      70% {
        height: $initial-height;
      }
    }

    .rainbow {
      background-color: #ff0000;
      background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100%
      );
      animation: rainbow 2s infinite;
    }

    @keyframes rainbow {
      0%,
      100% {
        background-color: #ff0000;
      }
      16.66% {
        background-color: #ffff00;
      }
      33.33% {
        background-color: #00ff00;
      }
      50% {
        background-color: #00ffff;
      }
      66.66% {
        background-color: #0000ff;
      }
      83.33% {
        background-color: #ff00ff;
      }
    }
  }
}
