/* HEADER FONT */
@font-face {
  font-family: "Futura Bold";
  src: url("common/assets/fonts/FuturaBold/Futura-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* SECONDARY FONT */
@font-face {
  font-family: "TTNorms Normal";
  src: url("common/assets/fonts/TTNormsProNormal/MyFontsWebfontsKit/webFonts/TTNormsProNormal/font.woff2")
      format("woff2"),
    url("common/assets/fonts/TTNormsProNormal/MyFontsWebfontsKit/webFonts/TTNormsProNormal/font.woff")
      format("woff");
}
