#login {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  -webkit-overflow-scrolling: touch;
  background: rgba(0, 0, 0, 0.9);

  .login-wrapper {
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
    border: 5px solid var(--color2);
    border-radius: 20px;
    .error-message {
      font-family: var(--font1);
      border-radius: 20px;
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      border: 3px solid var(--color2);
      background: black;
      bottom: 0;
      color: red;
      text-align: center;
      font-weight: bold;
      padding: 1rem;

      @media screen and (max-width: 600px) {
        margin: 0 1rem;
      }
      @media screen and (max-width: 400px) {
        font-size: 1rem;
      }
    }

    .login-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media screen and (orientation: portrait) and (max-device-width: 285px) {
        text-align: center;
      }

      .login-contents {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: var(--shadow-large);
        padding: 60px 40px;
        background-color: black;
        font-family: var(--font2);
        position: relative;
        @media screen and (orientation: portrait) and (max-device-width: 370px) {
          padding: 1rem 2rem;
        }

        @media screen and (orientation: portrait) and (max-device-width: 350px) {
          padding: 1rem;
          font-size: 0.8rem;
          h1 {
            font-size: 0.8rem;
          }
        }

        .google {
          background: #4285f4;
          border: none;
          color: black;
          font-family: var(--font1);
          box-shadow: var(--shadow-large);
          transition: all 0.2s ease;
          &:hover {
            box-shadow: none;
          }
        }
        .facebook {
          background: #3b5998;
          border: none;
          color: black;
          font-family: var(--font1);
          box-shadow: var(--shadow-large);
          transition: all 0.2s ease;
          &:hover {
            box-shadow: none;
          }
        }
        .logo {
          width: 40%;
          padding: 0.5rem;
        }

        .close-btn-login {
          display: flex;
          justify-content: flex-end;
          position: absolute;
          align-items: center;
          padding: 0.8rem;
          width: 100%;
          font-weight: bold;
          font-size: 1.5rem;
          cursor: pointer;
          top: 0;
        }
        .signup-redirect {
          color: var(--color2);
          cursor: pointer;
        }

        h2 {
          color: white;
          font-size: 1rem;
          text-align: center;
          margin-bottom: 10px;
          @media screen and (orientation: portrait) and (max-device-width: 350px) {
            font-size: 0.8rem;
          }
        }
        span {
          font-weight: bold;

          a {
            font-weight: bold;
            text-decoration: none;
            color: var(--color2);
            &:visited {
              color: var(--color2);
            }
          }
        }
        .login-btn-password {
          display: flex;
          width: 100%;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center;
          @media screen and (orientation: landscape) and (max-device-width: 800px) {
            // width: 50%;
            // flex-direction: column;
          }
          @media screen and (orientation: portrait) and (max-device-width: 285px) {
            flex-direction: column;
          }

          .login-button {
            width: 100%;

            .button {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              position: relative;
              height: 70px;
              margin: 5px 0;
              background: transparent;
              font-weight: normal;
              border: 3px solid var(--color1);
              color: white;
              font-size: 20px;

              box-shadow: var(--shadow-large);
              cursor: pointer;
              transition: all 0.2s ease;
              img {
                position: absolute;
                width: 10%;
                right: 5%;
              }
              &:hover {
                background-color: var(--color1);

                color: black;
              }
            }
          }
        }
        button {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center;
          width: 100%;
          height: 50px;
          margin: 5px 0;
          font-family: var(--font1);
          border: 2px solid var(--color-grayish);
          background: transparent;
          color: black;
          font-size: 0.95rem;
          cursor: pointer;
          .fa-facebook-square {
            color: #2d88ff;
            font-size: 20px;
          }
          svg {
            color: red;
            font-size: 20px;
          }
        }

        p {
          padding: 5px 0;
          text-align: center;
        }

        form {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          @media screen and (orientation: landscape) and (max-device-width: 800px) {
            // flex-direction: row;
          }
          .forgot-password {
            width: 100%;
            display: flex;
            justify-content: center;
            a {
              text-decoration: none;
              font-weight: bold;
              color: var(--color2);
              &:visited {
                color: var(--color2);
              }
            }
          }
        }

        .input-styles {
          display: flex;
          flex-direction: column;
          width: 100%;
          .input-error {
            transition: 0.2s ease;
            border: 3px solid red;
          }

          input {
            margin: 5px 0;
            background: var(--color-light);
            font-family: var(--font2);
            font-size: 1rem;
            font-weight: 400;
            line-height: inherit;
            width: 100%;
            height: auto;
            padding: 0.75rem 1.25rem;
            border: 3px solid var(--color1);
            outline: none;
            color: var(--color-black);
            background: black;
            text-transform: unset;
            text-rendering: optimizeLegibility;
            @media screen and (max-width: 300px) {
              font-size: 0.7rem;
            }

            &::placeholder {
              color: white;
              @media screen and (orientation: portrait) and (max-device-width: 350px) {
                font-size: 0.8rem;
              }
            }
          }
        }

        .or-fold {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          text-align: center;
          width: 100%;
          margin: 10px 0;
          @media screen and (orientation: landscape) and (max-device-width: 800px) {
            // margin: 0;
          }
          p {
            margin: 0 10px;
          }
          hr {
            width: 100%;
            height: 1px;
          }
        }
      }
    }
  }
}
