#__next {
  border: 5px solid red;
}

.create-account-section {
  width: 100%;
  text-align: center;
  p {
    font-size: 0.7rem;
    font-family: var(--font1);
    font-weight: normal;
    a {
      text-decoration: none;
      color: var(--color2);
    }
  }
}

button {
  border: 2px solid var(--color1);
  border-radius: 0.5rem;
  font-family: var(--header-font);
  font-size: 1rem;
  background: transparent;
  width: 200px;
  height: 70px;
  cursor: pointer;
  color: white;
  transition: all 0.2s ease;
  position: relative;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1.05);
  margin: 0.5rem 0 1rem 0;
  div {
    font-family: var(--font1);
    font-weight: normal;
  }
  svg {
    position: absolute;
    width: 30px;
    right: 10%;
  }
}
.flow-button {
  display: flex;
  flex-direction: row;
  font-family: var(--font1);
  justify-content: center;
  align-items: center;
  position: relative;
  height: 70px;
  margin: 5px 0;
  background: var(--color1);
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: black;
  font-weight: normal;
  cursor: pointer;
  //border: 3px solid var(--color1);
  width: 100%;
  transition: all 0.2s ease;
  .signup-icon {
    position: absolute;
    right: 10px;
    width: 5%;
    @media screen and (max-width: 600px) {
      width: 7%;
    }
    @media screen and (max-width: 400px) {
      width: 8%;
    }
    @media screen and (max-width: 300px) {
      width: 9%;
    }
  }
  img {
    width: 10%;
  }
  &:hover {
    box-shadow: none;
  }
}

.flow-loader {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-diff-account {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--header-font);
  font-weight: normal;
  font-size: 1rem;
  text-decoration: underline var(--color2);
  color: var(--color2);
  cursor: pointer;
  div {
    text-align: center;
  }
}

._app__Inner-sc-1b1fmnf-1 .btulfd {
  border: 5px solid red;
}

#FCL_IFRAME > * {
  border: 5px solid red !important;

  background: black !important;

  font-family: var(--header-font) !important;
}
