#signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  z-index: var(--highest-index);
  width: 100%;
  height: 100%;
  color: white;
  padding: 5rem 1rem;

  h2 {
    font-family: var(--header-font);
    font-weight: normal;
    text-align: center;
    padding: 1rem 0;
  }

  .signup-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    @media screen and (max-width: 550px) {
      width: 100%;
      height: 100%;
      border: none;
      border-radius: 0;
      overflow-y: hidden;
    }
    background: black;

    border-radius: 0.5rem;
    position: relative;

    h1 {
      font-family: var(--font1);
      color: black;
      text-align: center;
      background-color: var(--color1);
      padding: 10px 5px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;

      .h1-title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        @media (max-width: 600px) {
          font-size: 1.3rem;

          flex-direction: column;
        }
      }

      img {
        width: 50px;
        top: -20%;
        right: 0%;
        position: absolute;
      }
    }

    .signup-contents {
      border: 2px solid var(--color2);
      color: white;
      width: 450px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: var(--shadow-large);
      padding: 75px 40px 60px 40px;
      background-color: black;
      font-family: var(--font2);
      position: relative;
      border-radius: 20px;
      @media screen and (max-width: 550px) {
        padding: 2rem 1rem;
      }

      @media screen and (max-width: 450px) {
        width: 100%;
      }
      @media screen and (orientation: portrait) and (max-device-width: 400px) {
        padding: 1rem;
      }

      @media screen and (orientation: portrait) and (max-device-width: 350px) {
        padding: 1rem;
        font-size: 0.8rem;
        h1 {
          font-size: 0.8rem;
        }
      }
      .already-account {
        padding: 1rem 0;
        font-family: var(--header-font);
        font-weight: normal;
        text-align: center;
        font-size: 0.8rem;

        .login-redirect {
          text-decoration: none;
          color: var(--color2);
          font-weight: normal;
          cursor: pointer;
          &:visited {
            color: var(--color2);
            text-decoration: none;
          }

          span {
            font-family: var(--font1);
          }
        }
      }

      span {
        font-weight: bold;

        a {
          font-weight: bold;
          text-decoration: none;
          color: var(--color2);
          &:visited {
            color: var(--color2);
          }
        }
      }
    }

    .signup-info-contents {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .flow {
      display: flex;
      flex-direction: row;
      font-family: var(--font1);
      justify-content: center;
      align-items: center;
      position: relative;
      height: 70px;
      margin: 5px 0;
      background-color: black;
      color: white;
      font-size: 20px;
      font-weight: normal;
      box-shadow: var(--shadow-large);
      cursor: pointer;
      width: 100%;
      transition: all 0.2s ease;
      border: 3px solid var(--color1);
      @media screen and (max-width: 300px) {
        font-size: 1rem;
      }
      img {
        width: 8%;
        right: 50px;
        position: absolute;
        @media screen and (max-width: 450px) {
          display: none;
        }
      }
      &:hover {
        color: black;
        background-color: var(--color1);
      }
    }
    .help-button {
      cursor: pointer;
      position: absolute;
      top: 0;
      padding: 5px;
      @media screen and (max-width: 350px) {
        width: 50px;
      }
      &:hover {
        &::after {
          content: "Back to Sign Up details";
          color: white;
          position: absolute;
          top: 20px;
          left: 70px;
          text-align: center;
          width: 150px;
          font-family: var(--font1);
          font-size: 0.8rem;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          background: black;
          border: 3px solid var(--color2);
          border-radius: 20px;
          padding: 0.5rem;
        }
      }
    }
  }
}

.error-message-main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  padding: 1rem;
  top: 0px;
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    padding: 1rem;
    border-radius: 0.5rem;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      svg {
        width: 20px;
        filter: invert(95%) sepia(91%) saturate(5565%) hue-rotate(353deg)
          brightness(99%) contrast(94%);
        @media screen and (max-width: 400px) {
          width: 30px;
        }
      }
    }
  }
}
