.homepage-navigation {
  width: 100%;
  font-family: var(--font1);
  height: 70px;
  position: fixed;
  background: transparent;
  z-index: 9999;
  transition: position 0.35s cubic-bezier(0.5, 0, 0.35, 1);
  transition: transform 0.35s, background 0.35s,
    box-shadow 0.35s cubic-bezier(0.5, 0, 0.35, 1);
  transform: translate3d(0, 0, 0);
  -webkit-transform: 0.35s cubic-bezier(0.5, 0, 0.35, 1);

  @media screen and (max-width: 1050px) {
    background-color: var(--color1);
  }
  @media screen and (max-width: 768px) {
    &:hover {
      background: var(--color1);
    }
  }
  @media screen and (max-width: 769px) {
    &:hover {
      // pointer-events: none;
    }
  }

  .spotlight-top-left {
    width: 50px;
    position: absolute;
    left: 0;
    top: 0;
  }
  .spotlight-top-right {
    width: 50px;
    position: absolute;
    right: 0;
    top: 0;
  }
  .spotlight-no-display {
    display: none;
  }
}
.dropdown-content-desktop-container {
  .dropdown-content-desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    color: white;
    top: 70px;
    right: 0%;
    width: 400px;
    height: auto;
    font-size: 1.2rem;
    background: black;
    border: 3px solid var(--color1);
    border-top: 0;
    border-right: 0;
    z-index: 99999999999;

    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-color: black;
      font-size: 1.5rem;

      .portal-desktop-link {
        list-style: none;
        height: 60px;
        padding: 1rem;
        border-bottom: 0.5px solid grey;
        width: 100%;
        transition: all 0.2s ease;
        .portal-link {
          display: flex;
          justify-content: center;
          align-items: center;
          width: auto;
          height: 100%;
          transition: none;
          &::before {
            content: none !important;
            background-color: transparent;
          }
          &:hover {
            color: black;
            border: none;
          }
        }
        &:hover {
          background-color: var(--color1);
          color: black;
        }
      }
      .logout-button-desktop {
        width: 100%;
        background-color: black;
        list-style: none;
        height: 60px;

        button {
          cursor: pointer;
          font-size: 1.5rem;
          border: none;
          font-family: var(--font1);
          color: white;
          display: flex;
          flex-direction: row;
          background-color: transparent;
          justify-content: center;
          align-items: center;
          border: none;
          width: 100%;
          padding: 5px;
          height: 100%;
          transition: all 0.2s ease;
          p {
            font-weight: normal;
          }
          &:hover {
            color: black;
          }

          .desktop-logout-icon {
            width: 30px;
            margin-left: 5px;
          }
        }

        &:hover {
          background-color: var(--color1);
          color: black;
        }
      }
    }
  }
}

.dropdown-content-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  position: relative;
  background: black;
  border-bottom: 3px solid var(--color1);
  top: 0;
  right: 0;
  width: 100%;
  height: auto;
  transition: display 1s ease;
  font-size: 2rem;

  a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    line-height: normal;
    padding: 5px 10px;
    @media screen and (max-width: 769px) {
      justify-content: left;
      padding: 0;
    }

    &:visited {
      color: white;
    }
    &:hover {
      color: black;
    }
  }
  .portal {
    img {
      width: 40px;
      margin-left: 5px;
    }
  }

  .logout-button-mobile {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    // padding: 5px;
    transition: all 0.2s ease;
    img {
      width: 50px;
      margin-left: 5px;
    }
    &:hover {
      color: black;
    }

    @media screen and (max-width: 769px) {
      justify-content: left;
    }
  }
}
.logo-nav-bg {
  background-color: var(--color1);
  height: 100%;
  width: 22%;
  position: absolute;
}

.nav-home-container {
  width: 100%;
  height: 100%;
  padding: 0 0.5rem;
  position: relative;

  .user-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    .user {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &:hover {
        transform: scale(1.2);
        transition: 0.2s ease;
      }
      .arrow {
        width: 15px;
        padding-left: 2px;
        transition: transform 0.2s ease;
      }
      .arrow-360 {
        transform: rotateZ(180deg);
      }
    }

    div {
      padding-right: 10px;
    }
    img {
      width: 35px;
      color: white;
    }
  }

  .nav-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    margin-left: auto;
    margin-right: auto;
    // width: 1140px;
    height: 100%;
    font-size: 18px;
    // border-bottom: 2px solid rgb(146, 143, 143);
    // @media screen and (max-width: 1350px) {
    //   padding: 0 3rem;
    // }
    @media screen and (max-width: 1150px) {
      // padding: 0 1rem;
      // width: 1000px;
    }
    @media screen and (max-width: 1050px) {
      padding: 0;
    }
    a {
      color: white;
      &:visited {
        color: inherit;
      }
    }

    .logo-home {
      display: flex;
      justify-content: left;
      align-items: center;
      height: auto;
      position: relative;
      z-index: 9999;
      width: 50%;

      .bng-home {
        justify-content: left;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100%;
        display: none;

        @media screen and (min-width: 769px) {
          display: flex;
          width: 30%;
        }
        @media screen and (max-width: 1250px) {
          display: flex;
          width: 40%;
        }
        @media screen and (max-width: 1150px) {
          display: flex;
          width: 45%;
        }
        @media screen and (max-width: 1050px) {
          display: none;
        }
        .bng-home-logo {
          z-index: 9999;
        }
        .logo-background-yellow {
          border: 2px solid var(--color1);
        }

        .vinyl-logo {
          position: absolute;
          left: 91%;
          width: 18%;
          z-index: 0;
        }
      }
      .bng-home-mobile {
        justify-content: left;
        align-items: center;
        width: 40%;
        height: 100%;
        display: none;

        @media screen and (max-width: 1050px) {
          width: 20%;
          display: flex;
        }
        @media screen and (max-width: 540px) {
          width: 25%;
        }
        @media screen and (max-width: 285px) {
          width: 35%;
        }
      }
    }

    .desktop-navlinks-home {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 100%;
      z-index: 9999;
      @media (max-width: 1050px) {
        display: none;
      }

      .general-links-home {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
        color: white;

        li {
          padding: 0 10px;

          a {
            line-height: 22px;
            text-decoration: none;
            position: relative;
            padding: 5.2px 0;
            transition: color 0.1s, background-color 0.1s, padding 0.15s ease-in;
            color: white;

            &::before {
              content: "";
              display: block;
              position: absolute;
              bottom: 3px;
              left: 0;
              height: 3px;
              width: 100%;
              background-color: var(--color2);
              transform-origin: right top;
              transform: scale(0, 1);
              transition: color 0.1s, transform 0.15s ease-out;
            }
            &:active::before {
              // background-color: #000;
            }

            &:hover::before,
            &:focus::before {
              transform-origin: left top;
              transform: scale(1, 1);
            }
          }
        }
      }

      .login-links-home {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;
        color: white;

        .login-home-link {
        }

        li {
          cursor: pointer;
        }

        .signup-link {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            font-family: var(--font1);
            font-size: 18px;
            font-weight: normal;
            padding: 10px;
            background: transparent;
            border: 3px solid var(--color1);
            border-radius: none;
            color: white;
            cursor: pointer;
            width: auto;
            height: 50px;
            transition: all 0.2s ease;

            img {
              width: 30px;
              color: white;
              font-weight: bold;
            }

            &:hover {
              color: black;
              background-color: var(--color1);
              transform: scale(1.05);
            }
          }
        }

        .signup-no-display {
          display: none;
        }

        li {
          padding: 0 10px;

          a {
            line-height: 22px;
            text-decoration: none;
            position: relative;
            padding: 5.2px 0;
            transition: color 0.1s, background-color 0.1s, padding 0.15s ease-in;
            color: white;

            &::before {
              content: "";
              display: block;
              position: absolute;
              bottom: 3px;
              left: 0;
              height: 3px;
              width: 100%;
              background-color: var(--color2);
              transform-origin: right top;
              transform: scale(0, 1);
              transition: color 0.1s, transform 0.15s ease-out;
            }
            &:active::before {
              // background-color: #000;
            }

            &:hover::before,
            &:focus::before {
              transform-origin: left top;
              transform: scale(1, 1);
            }
          }
        }
      }
    }

    label {
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
      padding: 5px;
      color: white;
      z-index: 9999;
      font-family: var(--font1);

      @media (min-width: 1050px) {
        display: none;
      }

      p {
        font-size: 13px;
        letter-spacing: 0.5px;
      }

      .mobile-nav-home {
        flex-direction: column;
        background-color: black;
        justify-content: left;
        align-items: center;
        // margin-top: 67px;
        width: 100%;
        height: 100vh;
        top: 70px;
        left: 0;
        padding: 0 0 10px 0;
        position: absolute;
        transform: translateX(-100%);
        transition: transform 0.2s ease-in-out;
        border: none;
        font-size: 30px;

        /* Galaxy Fold Landscape Portrait */
        @media screen and (orientation: landscape) and(max-device-width: 768px) {
          // overflow-y: scroll;
        }
        @media screen and (max-width: 300px) and (max-height: 655px) and (orientation: portrait) {
          width: 100%;
        }

        .signup-no-display {
          display: none;
        }

        .mobile-nav-header {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          width: 100%;
          div {
            padding: 0 0.5rem;
          }
          img {
            width: 50%;
            display: none;
          }
        }
        .user-info-dropdown-select {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          color: white;
          background: none;
          border-bottom: 3px solid var(--color1);
          height: 70px;
          cursor: auto;
          padding: 0 1rem;

          &:hover {
            background: black;
            a {
              color: white;
            }
          }

          .login-mobile-btn {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            img {
              width: 25px;
            }
            .login-btn {
              font-family: var(--font1);
              font-size: 1.2rem;
              font-weight: normal;
              background: none;
              border: none;

              a {
                text-decoration: none;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: 0;
              }
            }
          }
        }

        ul {
          list-style: none;
          width: 100%;
          height: 100%;
          // overflow: scroll;

          // @media screen and (orientation: landscape) and(max-device-width: 768px) {
          //   display: flex;
          //   flex-direction: column;
          // }
          //Galaxy Fold
          @media (max-device-width: 660px) and (max-device-height: 281px) and (orientation: landscape) {
            padding-top: 0;
          }

          li {
            width: 100%;
            font-size: 2rem;
            padding: 1rem;
            border-bottom: 0.5px solid grey;
            &:hover {
              background: var(--color1);
              a {
                color: black;
              }
            }
          }
          a {
            text-decoration: none;
            color: white;
            display: flex;
            &:hover {
              color: black;
            }
          }
        }

        .signup-btn-container {
          display: flex;
          justify-content: center;
          align-items: center;
          .signup-btn {
            font-family: var(--font1);
            font-size: 2rem;
            width: 230px;
            padding: 10px;
            background: transparent;
            border: 5px solid var(--color2);
            color: white;
            cursor: pointer;
            transition: 0.2s ease;
            a {
              color: white;
              &:hover {
                color: black;
              }
            }

            &:hover {
              color: black;
              background: var(--color2);
            }
          }
        }
      }
    }

    .menu-bars-home {
      background: black;
      height: 5px;
      transition: 0.2s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }
    .menu-p {
      margin-bottom: 0;
      color: black;
      padding: 0 !important;
      font-family: var(--font1) !important;
    }

    .close-p {
      display: none;
      font-size: 0.72rem;
      color: black;
      padding: 0 !important;
      font-family: var(--font1) !important;
    }

    .menu-bars-home:nth-of-type(1) {
      width: 100%;
      margin-bottom: 2px;
    }

    .menu-bars-home:nth-of-type(2) {
      width: 75%;
      margin-bottom: 2px;
    }

    .menu-bars-home:nth-of-type(3) {
      width: 50%;
      margin-bottom: 2px;
    }

    input[type="checkbox"] {
      display: none;
    }
    input[type="checkbox"]:checked ~ .mobile-nav-home {
      transition: transform 0.2s ease-in-out;
      transform: translateX(0);
    }

    input[type="checkbox"]:checked ~ .menu-bars-home {
      // background-color: #ff0000;
      // background-image: linear-gradient(
      //   to bottom,
      //   rgba(0, 0, 0, 0) 0%,
      //   rgba(0, 0, 0, 1) 100%
      // );
      // animation: rainbow 10s infinite;
      // @keyframes rainbow {
      //   0%,
      //   100% {
      //     background-color: #ff0000;
      //   }
      //   16.66% {
      //     background-color: #ffff00;
      //   }
      //   33.33% {
      //     background-color: #00ff00;
      //   }
      //   50% {
      //     background-color: #00ffff;
      //   }
      //   66.66% {
      //     background-color: #0000ff;
      //   }
      //   83.33% {
      //     background-color: #ff00ff;
      //   }
      // }
    }

    input[type="checkbox"]:checked ~ .menu-bars-home:nth-of-type(1) {
      transform-origin: bottom;
      // transform: rotatez(0deg) translate(-2px, 0px);
      width: 50%;
      z-index: 9999999;
    }

    input[type="checkbox"]:checked ~ .menu-bars-home:nth-of-type(2) {
      // transform: rotatez(-45deg) translate(30px, -10px);
      width: 75%;
      z-index: 9999999;
    }

    input[type="checkbox"]:checked ~ .menu-bars-home:nth-of-type(3) {
      // transform: rotatez(-45deg) translate(2px, -19px);
      width: 100%;
      z-index: 9999999;
    }
    input[type="checkbox"]:checked ~ .menu-p {
      display: none;
    }
    input[type="checkbox"]:checked ~ .close-p {
      display: flex;
      z-index: 9999999;
      transition: transform 0.2s ease-in-out;
    }

    @media (max-width: 768px) {
      height: 70px;
    }
  }
}

.scrolled-navigation {
  // transition: none;
  border-bottom: 3px solid var(--color1);
  filter: drop-shadow(0 0 5px black);
  background: black;
  // transition: position 0.35s cubic-bezier(0.5, 0, 0.35, 1);
  box-shadow: 0 10px 20px rgb(203 213 226 / 0%), 0px 1px 1px rgb(0 0 0 / 10%);
  // position: fixed;
  &:hover {
    cursor: auto;
  }
  @media screen and (max-width: 1050px) {
    background: var(--color1);
  }
}
