@font-face {
  font-family: "outer-sans-regular";
  src: url("./assets/fonts/made-outer-sans/MADE-Outer-Sans-Regular-PERSONAL-USE.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "outer-sans-light";
  src: url("./assets/fonts/made-outer-sans/MADE\ Outer\ Sans\ Alt\ Light\ PERSONAL\ USE.otf")
    format("otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "outer-sans-thin";
  src: url("./assets/fonts/made-outer-sans/MADE-Outer-Sans-Thin-PERSONAL-USE.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "outer-sans-medium";
  src: url("./assets/fonts/made-outer-sans/MADE-Outer-Sans-Outline-Medium-PERSONAL-USE.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "outer-sans-black";
  src: url("./assets/fonts/made-outer-sans/MADE-Outer-Sans-Alt-Black-PERSONAL-USE.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "outer-sans-black-outline";
  src: url("./assets/fonts/made-outer-sans/MADE-Outer-Sans-Outline-Alt-Black-PERSONAL-USE.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "tommy-regular";
  src: url("./assets/fonts/Made-Tommy/MADE-TOMMY-Thin_PERSONAL-USE.otf")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "colombo-sans";
  src: url("./assets/fonts/Colombo-Sans/Web-Fonts/Colombo\ Sans\ Font.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "futura-bold";
  src: url("./assets/fonts/FuturaStdBold/Futura-Std-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: visible;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  scrollbar-width: thin;
  scrollbar-color: var(--color1) black;

  --header-font: "outer-sans-regular", sans-serif;
  --secondary-font: "outer-sans-thin", sans-serif;
  --font1: "outer-sans-regular", "Raleway", sans-serif;
  --mont-font: "Montserrat", sans-serif;
  --font2: "outer-sans-regular", "Raleway", sans-serif;
  --font3: "colombo-sans", "Raleway", sans-serif;
  --font4: "futura-bold", "Raleway", sans-serif;
  --font5: "brandon-grotesque", sans-serif;
  --font6: novecento-sans, sans-serif;
  --font7: "filicudi-color-pride", sans-serif;
  --font8: "filicudi-color-barber", sans-serif;
  --font9: flegrei, sans-serif;
  --font10: termina, sans-serif;
  --font11: "outer-sans-black", "Raleway", sans-serif;
  --font12: "outer-sans-black-outline", "Raleway", sans-serif;
  --font13: "outer-sans-thin", "Raleway", sans-serif;
  --small-text-weight: 700;
  --main-color-nav-footer-black: #000;
  --main-color-body-dark-grey: #161617;
  --main-color-nav-containers-darker-grey: #131212;
  --color1: #f5ee0d;
  --color2: #25c1a9;
  --container-box-shadow: 3px 3px 8px black;
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --color-light: #f1f5f9;
  --color-grayish: #dadce0;
  --bg-color: #131921;
  --footer-gray: #919496;
  --highest-index: 9999999999999;
}

body {
  background-color: #000;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color1);
  height: 1vh;
  border-radius: 20px;
}

*::-webkit-scrollbar-track {
  background-color: black;
}

/* //naming conventions

//modal props = show"NameofModal" */
