@font-face {
  font-family: "outer-sans-regular";
  src: url("./assets/fonts/made-outer-sans/MADE-Outer-Sans-Regular-PERSONAL-USE.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "outer-sans-light";
  src: url("./assets/fonts/made-outer-sans/MADE-Outer-Sans-Light-PERSONAL-USE.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "outer-sans-thin";
  src: url("./assets/fonts/made-outer-sans/MADE-Outer-Sans-Thin-PERSONAL-USE.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "outer-sans-medium";
  src: url("./assets/fonts/made-outer-sans/MADE-Outer-Sans-Outline-Medium-PERSONAL-USE.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "outer-sans-black";
  src: url("./assets/fonts/made-outer-sans/MADE-Outer-Sans-Alt-Black-PERSONAL-USE.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "outer-sans-black-outline";
  src: url("./assets/fonts/made-outer-sans/MADE-Outer-Sans-Outline-Alt-Black-PERSONAL-USE.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "minera-bold";
  src: url("./assets/fonts/Minera/Minera-Bold-700.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "tommy-regular";
  src: url("./assets/fonts/Made-Tommy/MADE-TOMMY-Thin_PERSONAL-USE.otf")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "colombo-sans";
  src: url("./assets/fonts/Colombo-Sans/Web-Fonts/Colombo\ Sans\ Font.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "futura-bold";
  src: url("./assets/fonts/Futura-Bold/Futura-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "futura-light";
  src: url("./assets/fonts/Futura-Light/FuturaLTProLight.woff") format("woff");
}

@font-face {
  font-family: "rockwell";
  src: url("./assets/fonts/Rockwell/Rockwell.woff") format("woff");
}

@font-face {
  font-family: "rockwell-bold";
  src: url("./assets/fonts/Rockwell/Rockwell-bold.woff") format("woff");
}

@font-face {
  font-family: "ttnorms-regular";
  src: url("./assets/fonts/TTNorms/TTNorms-Regular.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: visible;
  box-sizing: border-box;

  /* scrollbar */
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  scrollbar-width: thin;
  scrollbar-color: var(--color1) black;

  /* font sizes */
  --h1-font-size: 42px;
  --h2-font-size: 38px;
  --h3-font-size: 25px;
  --body-text-font-size: 18px;
  --nav-link-font-size: 1rem;
  --input-font-size: 18px;
  --secondary-text-font-size: 1rem;

  /* fonts */
  --header-font: "futura-bold", sans-serif;
  --main-header-font: "futura-bold";
  --secondary-font: "ttnorms-regular", "Raleway", sans-serif;
  --secondary-font-weight: 400;
  --small-text-weight: 700;

  /* colors */
  --color1: #f5ee0d;
  --color2: #25c1a9;
  --main-color-nav-footer-black: #000;
  --main-color-body-dark-grey: #161617;
  --main-color-nav-containers-darker-grey: #131212;
  --color-light: #f1f5f9;
  --color-grayish: #dadce0;
  --bg-color: #131921;
  --footer-gray: #919496;
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --container-box-shadow: 3px 3px 8px black;

  --highest-index: 9999999999999;
}

body {
  background-color: #000;
}

/* browser cursor styles */

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: black;
  border: 2px solid var(--color1);
  height: 1vh;
  border-radius: 20px;
}

*::-webkit-scrollbar-track {
  background-color: black;
}

/* animations */

.rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
