#release-preview-title-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .release-image-container {
    position: relative;
  }
  .release-preview-svg-divider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    color: white;
    font-family: var(--header-font);
    p {
      display: flex;
      align-items: center;
    }
    svg {
      width: 30px;
      margin-left: 0.5rem;
    }
  }
  .release-preview-title-info-price {
    padding-top: 0.5rem;
    div {
      color: var(--color1);
      font-family: var(--header-font);
      font-size: 3rem;
    }
  }
}
