#event-about {
  position: relative;
  font-family: var(--font1);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  width: 500px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  border: 5px solid var(--color2);
  background: black;
  border-radius: 0.5rem;
  font-weight: normal;

  @media screen and (max-width: 550px) {
    height: auto;
  }
  .event-about-reminder-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 1140px) {
      height: auto;
    }

    .event-about-reminder {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;

      .event-about-message {
        display: flex;

        justify-content: center;
        align-items: center;
        padding: 2rem 1rem;
        letter-spacing: 0.5px;
        font-weight: normal;
        @media screen and (max-width: 550px) {
          flex-direction: column;
        }
        .event-about-header {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;

          svg {
            width: 50px;
            bottom: 0;
            right: 0;
            padding: 5px;
            @media screen and (max-width: 400px) {
              display: none;
            }
          }
          .right-speaker {
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
          }
        }

        h1 {
          font-size: 1rem;
          text-align: center;
          font-family: var(--font1);
          font-weight: normal;
        }

        .tired-container {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          text-align: center;
          width: 100%;
          padding: 2rem 0 1rem 0;
          font-size: 1.3rem;
          letter-spacing: 0.01cm;
          font-weight: normal;
          font-family: var(--font1);
          @media screen and (max-width: 400px) {
            font-size: 1rem;
          }
          .tired-header {
            @media screen and (max-width: 400px) {
              font-size: 1rem;
            }
            font-family: var(--font1);
            color: var(--color1);
            font-size: 1.4rem;
            font-weight: normal;
          }
          .tired-message {
            font-family: var(--font2);
            font-weight: bold;
            color: white;
            font-size: 1rem;
            max-width: 400px;
            padding: 1rem 0 2rem 0;
          }
        }

        a {
          width: 100%;
          text-decoration: none;
          display: flex;
          justify-content: center;
          align-items: center;
          &:visited {
            color: white;
          }
          button {
            border: 3px solid var(--color1);
            background: transparent;
            border-radius: 50px;
            width: 200px;
            height: 70px;
            font-family: var(--font1);
            font-size: 1rem;
            cursor: pointer;
            color: white;

            transition: all 0.2s ease;
            position: relative;
            font-weight: normal;

            &:hover {
              background-color: var(--color1);
              transform: scale(1.05);
              color: black;
            }
          }
        }
      }
    }
  }
}
