#fan-port-nav {
  display: flex;
  background-color: var(--color1);
  padding: 10px 5px;
  font-family: var(--font1);
  width: 100%;

  @media (max-width: 650px) {
    display: none;
  }

  a {
    color: black;
    text-decoration: none;
    padding: 0 5px;
    &:hover {
      text-decoration: underline 4px solid var(--color2);
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
    }
  }
}

.fp-scrolled {
  position: sticky;
  top: 11%;
  left: 0;
  width: 100%;
  z-index: 9999;
}
