.hero-spacer {
  display: block;
  height: 70px;
  width: 100%;
  background-color: black;
}

.reminder-subscribe {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  padding: 2rem;
  border: none;
  min-height: 600px;
  position: relative;
  @media screen and (max-width: 1200px) {
    padding-top: 5rem;
  }
  .spotlight-top-left {
    width: 50px;
    position: absolute;
    left: 0;
    top: 0;
  }
  .spotlight-top-right {
    width: 50px;
    position: absolute;
    right: 0;
    top: 0;
  }

  .reminder-subscribe-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    gap: 2rem;
    @media screen and (min-width: 1140px) {
      width: 1140px;
    }
    @media screen and (max-width: 1200px) {
      flex-direction: column;
    }
  }
}
