.reminder-subscribe {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-color);

  .reminder-subscribe-wrapper {
    display: flex;
    flex-direction: row;
    @media screen and (min-width: 1140px) {
      width: 1140px;
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
}
