#hero-test {
  display: block;
  background-image: url("../../assets/images/desktop-triangle-half.png");
  background-color: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: black;
  border-bottom: 3px solid var(--color1);
  position: relative;

  @media screen and (max-width: 1140px) {
    background-image: none;
  }
  .hero-nav-spacer {
    height: 70px;
    width: 100px;
  }

  .hero-section-test {
    display: block;
    width: 100%;
    align-items: center;
    padding: 25px 50px;
    color: white;
    position: relative;
    // border: 3px solid green;
    @media screen and (max-width: 1140px) {
      padding: 50px;
    }
    @media screen and (max-width: 1140px) {
      padding: 50px 25px;
    }
    @media screen and (max-width: 450px) {
      padding: 25px 1rem;
    }

    .hero-section-outer-wrapper-test {
      display: block;

      .hero-content-middle-wrapper-test {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        .hero-section-inner-wrapper-test {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          @media screen and (max-width: 1140px) {
            flex-direction: column;
          }
          .hero-test-text {
            width: 50%;
            @media screen and (max-width: 1140px) {
              width: 100%;
            }
            h1 {
              color: black;
              font-family: var(--font3);
              letter-spacing: 0.03cm;
              line-height: 6rem;
              margin-bottom: 1rem;
              font-size: 120px;
              @media screen and (max-width: 1400px) {
                font-size: 100px;
                margin-bottom: 0;
              }
              @media screen and (max-width: 1140px) {
                color: white;
                text-align: center;
              }
              @media screen and (max-width: 550px) {
                font-size: 80px;
                line-height: 4.5rem;
              }
              @media screen and (max-width: 450px) {
                font-size: 70px;
                line-height: 4rem;
              }
              @media screen and (max-width: 350px) {
                font-size: 50px;
                line-height: 2.8rem;
              }
            }
            @media screen and (max-width: 1140px) {
              width: 100%;
            }
          }
          .hero-test-subtitle {
            font-family: var(--font2);
            font-weight: bold;
            font-size: 1.5rem;
            color: black;
            @media screen and (max-width: 1140px) {
              color: white;
              text-align: center;
              padding: 1rem;
              font-size: 1.5rem;
            }
            @media screen and (max-width: 550px) {
              font-size: 1.3rem;
            }
            @media screen and (max-width: 450px) {
              font-size: 1rem;
            }
            @media screen and (max-width: 350px) {
              font-size: 0.8rem;
            }
          }
          .hero-test-buttons {
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
            margin: 1rem 0;

            @media screen and (max-width: 1140px) {
              justify-content: center;
              flex-direction: column;
              margin: 0;
            }

            a {
              text-decoration: none;
              &:visited {
                color: black;
              }
            }

            button {
              width: 300px;
              height: 100px;

              // border-radius: 20px;
              border: 3px solid black;
              padding: 0.5rem;
              @media screen and (max-width: 1200px) {
                margin: 0.5rem 0;
              }
            }
            .start-btn {
              background-color: var(--color2);
              margin-left: 0;
              margin-right: 0.5rem;
              @media screen and (max-width: 1140px) {
                margin-right: 0;
              }
            }
            .for-artists-btn {
              margin-left: 0.5rem;
              @media screen and (max-width: 1140px) {
                padding-left: 0;
                margin-left: 0;
              }
            }
          }
          .hero-test-image {
            @media screen and (max-width: 1140px) {
              display: none;
            }
          }
        }
      }
    }
  }
  .hero-image {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 1100px;
  }
}
