#release-preview-title-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .release-image-container {
    position: relative;
  }
  .release-preview-title-info-price {
    padding-top: 0.5rem;
    div {
      color: var(--color1);
      font-family: var(--header-font);
      font-size: 3rem;
    }
  }
}
