#faq {
  color: white;
  background-color: var(--bg-dark);

  #NFTsExplained {
    font-family: var(--font1);
    color: black;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    div {
      padding: 10px 5px;
      background-color: var(--color1);
    }
    // text-decoration: underline 5px solid var(--color2);
    // border-bottom: 7px solid var(--color2);

    img {
      width: 50px;
      top: -20%;
      right: 0%;
      position: absolute;
    }
  }

  h3 {
    padding: 10px 5px;
    background-color: var(--color1);
    color: black;
    font-family: var(--font1);
    font-size: 1.5rem;
  }
  .faq-content {
    background: black;
    padding: 7rem 30px 30px 30px;
    @media (max-width: 1050px) {
      padding: 7rem 1rem 2rem 1rem;
    }

    .answer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: left;
      padding: 10px;
      width: 100%;
      z-index: 1;
      border: 3px solid var(--color1);
      margin-bottom: 10px;
      // border-radius: 20px;

      ul {
        font-family: var(--font2);

        @media (min-width: 768px) {
          font-size: 20px;
        }
        li {
          display: flex;
          flex-direction: row;
          padding: 5px 5px 5px 0;

          a {
            text-decoration: none;
            color: var(--color1);
            font-weight: bolder;
            padding: 0 3px;
          }
        }
      }
    }

    .answer-enter {
      opacity: 0;
      transform: translateY(0);
      z-index: 1;
    }
    .answer-enter-active {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 100ms, transform 100ms ease-in-out;
    }
    .answer-exit {
    }
    .answer-exit-active {
    }

    .header-p {
      font-family: var(--font2);
      font-size: 20px;
      padding: 10px 5px;
      margin-bottom: 10px;
      border: 7px solid var(--color2);
    }
    h2,
    h3 {
      font-family: var(--font1);
      color: black;
      background-color: var(--color1);
      border-left: 7px solid var(--color2);
      padding: 5px;
    }
    h5 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-weight: bolder;
      font-size: 20px;
      font-family: var(--font1);
      width: 100%;
      color: white;
      background-color: black;
      padding: 5px;
      border: 5px solid var(--color2);
      border-radius: 0.5rem;
      // border-top: 3px solid var(--color1);
      // border-bottom: 3px solid var(--color1);
      // border-left: 7px solid var(--color2);
      margin-bottom: 10px;
      cursor: pointer;
      &:hover {
        transition: 0.2s ease;
        transform: scale(1.03);
      }

      .dropdown {
        width: 8%;
        margin: 5px;

        @media (min-width: 768px) {
          width: 4%;
        }
        @media (min-width: 1000px) {
          width: 2%;
        }
      }
      .icon_rotate {
        transform: rotateZ(180deg);
      }

      @media (min-width: 768px) {
        font-size: 30px;
      }

      @media (max-width: 300px) {
        font-size: 15px;
      }
    }
    p {
      padding: 15px 0;
      font-family: var(--font2);
      //   font-weight: bold;
    }
    .important-info {
      border: 5px solid var(--color1);
      font-weight: bold;
      // font-style: italic;
      padding: 5px;
    }
  }
}
