#not-found {
  font-family: var(--header-font);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  .not-found-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 2rem 2rem 2rem;
    color: white;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      text-align: center;
      letter-spacing: 1px;
      font-size: 2rem;
      margin-top: 1rem;
    }
    svg {
      width: 40%;
    }
  }
}
