.hero-album-image {
  width: 100%;
  height: 400px;

  .vinyl-sleeve {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 900;
    filter: drop-shadow(0 0 5px black);
    display: none;
  }

  .album {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 800;
  }
}
