.desktop-background {
  width: 100%;

  img {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 10;
    filter: drop-shadow(0 0 5px black);
    @media screen and (max-width: 769px) and (max-height: 1025px) {
      height: 50px;
    }
  }

  @media (max-width: 1025px) {
    img {
      height: 100%;
    }
  }

  @media (max-width: 767px) {
    img {
      display: none;
    }
  }
}
