.hero-spotlight {
  img {
    width: 650px;
    height: 130%;
    position: absolute;
    top: 80%;
    left: 81%;

    transform: translate(-50%, -50%) rotateZ(-10deg);
    filter: drop-shadow(0 0 10px black);
    z-index: 0;

    //   @media (min-width: 768px) {
    //     width: 50%;
    //   }
    //   @media (min-width: 1000px) {
    //     width: 40%;
    //   }
    //   @media (max-width: 1020px) {
    //     display: none;
    //   }
    // }
  }
}
