.background {
  img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
  }

  @media (min-width: 450px) {
    img {
      display: none;
    }
  }

  @media (max-width: 285px) {
    img {
      height: 55%;
    }
  }
}
