.hero-spotlight-left {
  img {
    width: 50%;
    height: 95%;
    position: absolute;
    left: 40%;
    bottom: 0;
    // transform: translate(-50%, -50%) rotateZ(130deg);
    transform: rotateZ(40deg);
    filter: drop-shadow(0 0 10px black);
    z-index: 1;

    //   @media (min-width: 768px) {
    //     width: 50%;
    //   }
    //   @media (min-width: 1000px) {
    //     width: 40%;
    //   }
    //   @media (max-width: 1020px) {
    //     display: none;
    //   }
    // }
  }
}
