.hero-spotlight-right {
  img {
    width: 45%;
    height: 90%;
    position: absolute;
    top: -7%;
    left: 85%;
    transform: translate(-50%, -50%) rotateZ(200deg);
    filter: drop-shadow(0 0 10px black);
    z-index: 0;

    //   @media (min-width: 768px) {
    //     width: 50%;
    //   }
    //   @media (min-width: 1000px) {
    //     width: 40%;
    //   }
    //   @media (max-width: 1020px) {
    //     display: none;
    //   }
    // }
  }
}
